[2015-07-20 17:07] chavdar opened #236 "consider migrating Gobblin JDBC adapters to a SQL builder library"
Currently gobblin uses rather error-prone string handling to generating SQL queries. We should consider migrating to a more robust SQL builder library like Jooq (www.jooq.org) or querydsl (www.querydsl.com).

[2015-08-15 20:16] Evangileon opened #292 "Missing required property writer.staging.dir"
Gobblin MapReduce job- Pull from Kafka to HDFS failed while in initialization.
I have 1 maser and 6 slave nodes for HDFS and YARN.
I am sure writer.staging.dir is present in both Gobblin system configuration file and job configuration file. And they are consistent.
Here is the error message:
[code]
And my job configuration file is listed:
[code]
I have checked DEBUG level log, but find no informat

[2015-08-17 16:24] zliu41 commented on #292
Hi @Evangileon I wasn't able to reproduce your problem. Can you let us know your sysconfig file, as well as what properties are in the `State` object when it throws that exception?

[2015-08-17 17:18] liyinan926 commented on #292
@Evangileon are you using the script `gobblin-mapreduce.sh` to run the job? Can you share with us the command you used and the environment variables you set?

[2015-08-20 21:13] akshayn1107 opened #299 "Failed job emails"
I have appended the following to my gobblin job config:

[code]

When a job successfully completes, I do receive emails. However, on job failures, I don't receive any emails. Furthermore, if a task in a job fails due to an exception, I get a job completion email (not a job failed email).

On a potentially related note, failed jobs aren't automatically being retried.

[2015-08-20 21:42] liyinan926 commented on #299
To enable alert emails on job failures, you need to set `email.alert.enabled=true`. Gobblin doesn't retry failed jobs. It does retry failed tasks up to a configurable number of times (default is 5).

[2015-08-20 21:50] liyinan926 commented on #299
Are you running the latest version of Gobblin?

[2015-08-20 21:59] liyinan926 commented on #299
I found a bug that may cause the issue with alert emails and created this PR https://github.com/linkedin/gobblin/pull/300.

[2015-08-20 22:18] liyinan926 commented on #299
PR #300 has been merged. Please let us know if you are still not receiving alert emails on job failures with the fix.

[2015-08-24 23:55] akshayn1107 commented on #299
So I've tried two ways of making the job fail: 1) specifying a bad kafka cluster (which causes the work units to not be created since it can't connect to kafka) and 2) specifying a bad s3 bucket so the job completes but the publisher fails. Both times no email gets sent.

[2015-08-25 05:15] liyinan926 commented on #299
@akshayn1107 Are you using `gobblin-mapreduce.sh` to launch jobs?

[2015-08-25 18:18] akshayn1107 commented on #299
no, we're using gobblin in standalone mode

[2015-08-25 18:22] liyinan926 commented on #299
OK, did you see `JobException: Job ... failed` in the logs? Can you share the logs?

[2015-08-25 23:35] akshayn1107 commented on #299
Below is the stack trace if I specify a bad bucket (causing the publisher to fail):

[code]

[2015-08-25 23:39] liyinan926 commented on #299
OK, I know what's going on here and I will fix it.

[2015-08-26 09:47] zhaolmtravelsky commented on #292
I encounter the same probleam. My command is bin/gobblin-mapreduce.sh --jt ip:port --fs hdfs://xxx --workdir hdfs://xxx/tmp/test/gobblin_work --conf /home/data/test/gobbin_config/kafka_hdfs.pull。

job.name=PullFromKafka
job.group=Kafka
job.description=Kafka Extractor for Gobblin
job.lock.enabled=false

source.class=gobblin.source.extractor.extract.kafka.KafkaSimpleSource

#extract.namespace=gobbli

[2015-08-26 16:38] zliu41 commented on #292
@zhaolmtravelsky you don't have `writer.staging.dir` in your kafka_hdfs.pull. Is it in another config file?

[2015-08-26 20:49] liyinan926 commented on #299
Created PR #309.

[2015-08-26 23:43] akshayn1107 commented on #299
Sweet, it looks like its fixed now. Thanks!

[2015-08-26 23:43] liyinan926 commented on #299
Cool. Thanks for reporting this!

[2015-08-26 23:43] #299 closed

[2015-08-27 05:44] Evangileon commented on #292
@zliu41 @liyinan926 My command was `gobblin-mapreduce.sh --conf pipeline.pull`.
I have tried define `writer.staging.dir` explicitly in job configuration file, but it never worked.
After I modified `yarn-site.xml` and `mapred-site.xml` files to minimum configuration, I addressed the issue. Because configuration of Java heap size is too large, so that worker instance failed at initialization. Theref

[2015-08-27 08:09] zhaolmtravelsky commented on #292
@zliu41
`writer.staging.dir` in the gobblin-mapreduce fiile.  Is it in the wrong file?

[2015-08-29 02:27] #292 closed

[2015-08-30 14:32] zhaolmtravelsky opened #311 "Missing required property writer.staging.dir error"
java.lang.NoSuchMethodError: org.apache.hadoop.mapreduce.v2.util.MRApps.crossPlatformifyMREnv(Lorg/apache/hadoop/conf/Configuration;Lorg/apache/hadoop/yarn/api/ApplicationConstants$Environment;)Ljava/lang/String;

Missing required property writer.staging.dir error

my `writer.staging.dir` in the gobblin-mapreduce.properties fiile.  Is it in the wrong file? I have another question,`-jt <job tracker

[2015-08-31 18:41] ahollenbach opened #313 "Failing to clean up staging data"
I'm running into an issue where any number of threads above one will cause the `FileBasedSource` to fail when trying to clean up a regular fs (not Hadoop). From what I can tell, it appends numerous delete tasks for the same directory to the future queue, and `HadoopUtils` throws an error if the delete fails (which it will fail if the directory no longer exists). This can be mitigated by setting `p

[2015-08-31 19:07] zliu41 commented on #313
@ahollenbach thanks for posting. This is a bug we also identified a few weeks back. We'll have it fixed.

[2015-09-01 09:37] zhaolmtravelsky opened #317 "gobblin don't work in hadoop 2.7.1"
my hadoop env is hadoop 2.7.1, but it not work. The stacktrace is below:

ERROR [AbstractJobLauncher] Failed to launch and run job job_PullFromKafka_1441077867673: java.lang.NoSuchMethodError: org.apache.hadoop.mapreduce.v2.util.MRApps.crossPlatformifyMREnv(Lorg/apache/hadoop/conf/Configuration;Lorg/apache/hadoop/yarn/api/ApplicationConstants$Environment;)Ljava/lang/String;
java.lang.NoSuchMethodE

[2015-09-01 09:37] #311 closed

[2015-09-01 14:23] chavdar commented on #317
Can you please describe what you did? Did you modify "hadoopVersion" in
build.gradle and recompile for 2.7.1?

On Tue, Sep 1, 2015 at 2:37 AM, zhaolmtravelsky <notifications@github.com>
wrote:

[2015-09-01 16:45] chavdar commented on #313
A fix has been merged. @ahollenbach Could you verify?

[2015-09-01 17:59] ahollenbach commented on #313
After some preliminary testing, everything appears to be running smoothly. Thanks for the fix.

[2015-09-01 17:59] #313 closed

[2015-09-01 22:13] liyinan926 commented on #317
@zhaolmtravelsky when you build gobblin, you can use the options `-PuseHadoop2 -PhadoopVersion=2.7.1` to compile gobblin against Hadoop 2.7.1.

[2015-09-02 07:59] zhaolmtravelsky commented on #317
@chavdar  @liyinan926

my compile command is `cd gobblin && ./gradlew clean build -PuseHadoop2 -x test`

I have modified `hadoopVersion = '2.7.1' ` in  `build.gradle `.

The error stacktrace is above. So I doubt gobblin is suit for hadoop 2.7.1 ?

[2015-09-02 08:09] liyinan926 commented on #317
@zhaolmtravelsky the stack trace sounds to me like a wrong version of Hadoop jars on the classpath. Which command you used to run your Gobblin job?

[2015-09-02 09:27] zhaolmtravelsky commented on #317
@liyinan926

my run command is `sh  bin/gobblin-mapreduce.sh --jt  localhost --fs hdfs://localhost:8020  --workdir /home/data/test/gobbin_work --conf /home/data/test/gobblin/gobblin-dist/conf/kafka_hdfs.pull`. that command run in the gobblin parent directory. kafka_hdfs.pull is job configuration file.

[2015-09-06 08:54] zhaolmtravelsky commented on #317
@liyinan926 @chavdar

I have solved my probleam. The cause is that I compile gobblin with hadoop 2.7.1, but I didn't uncompress the new gobblin_dist tar package.

[2015-09-06 08:54] #317 closed

[2015-09-07 01:36] zhaolmtravelsky opened #321 "gobblin don't work in hadoop 2.7.1"
my hadoop env is hadoop 2.7.1. I compile gobblin with hadoop 2.7.1. My compile command is `cd gobblin && ./gradlew clean build -PuseHadoop2 -x test`. In build.gradle, I modify hadoopVersion=2.7.1.Howerver, gobblin don't work in hadoop 2.7.1. My run command is `sh  bin/gobblin-mapreduce.sh --jt localhost --fs localhost:8020 --workdir /home/data/test/gobbin_work --conf /home/data/test/gobblin/gobbli

[2015-09-07 05:06] liyinan926 commented on #321
@zhaolmtravelsky This issue sounds like the same as the previous issue #317 you have already resolved. Again, it looks like some Hadoop jar with the correct version 2.7.1 is not on the classpath.

[2015-09-07 06:13] zhaolmtravelsky commented on #321
@liyinan926

thank you ~~. you are right. my hadoop client is hadoop 2.3.1, but my hadoop cluster is hadoop 2.7.1. So the version is conflict. I use hadoop 2.7.1 client is right.

[2015-09-07 06:13] #321 closed

[2015-09-10 00:53] henryon opened #322 "hdp2.2 can't build"
When I build gradlew with below command:
./gradlew clean build -PuseHadoop2 -PhadoopVersion=2.6.0
 the error shows

gobblin.rest.JobExecutionInfoServerTest.setUp FAILED
    org.jboss.netty.channel.ChannelException at JobExecutionInfoServerTest.java:78
        Caused by: java.net.BindException at JobExecutionInfoServerTest.java:78

4 tests completed, 1 failed, 3 skipped
:gobblin-rest-service:gobbli

[2015-09-10 05:32] sahilTakiar commented on #322
Hey henryon,

As an immediate fix you can run `/gradlew clean build -PuseHadoop2 -PhadoopVersion=2.6.0 -x test`. This will build everything without running any of the tests.

It looks like you already have an application bound to `localhost:8080` on your machine which is why the `JobExecutionInfoServerTest` test is failing.

[2015-09-10 05:48] liyinan926 commented on #322
@henryon as @sahilTakiar said, the test failed because the server failed to start on port `8080`. Can you check and see if you have anything running on that port? You can also add option `--info` to get more details on the test failure.

[2015-09-10 10:56] henryon commented on #322
@liyinan926  thanks I will try it  and feedback to you

[2015-09-11 02:26] henryon commented on #322
@liyinan926  it works now, i've tried it on another box, the original box  port 8080 has been occupied by ambari master process. thanks everyone

[2015-09-11 02:26] #322 closed

[2015-09-15 09:18] allmycode opened #328 "Very unstable kafka import"
When I'm using KafkaSimpleSource for importing kafka topic to HDFS, every time at job start I see _Reconnect due to socket error: java.nio.channels.ClosedChannelException_
and during work I see
_Fetch message buffer for partition test1:0 has failed: java.net.SocketTimeoutException. This partition will be skipped._
One time it can export records from kafka to HDFS, but most time export fails, with

[2015-09-15 22:36] zliu41 commented on #328
Hi @allmycode Gobblin currently uses `kafka.javaapi.consumer.fetch(kafka.javaapi.FetchRequest)` to fetch message buffers from Kafka brokers. What API do your other clients use? If they use the same one then there's no reason it works for them but not Gobblin.

btw we are in the process of adding support for the new Kafka API (`org.apache.kafka.clients.consumer.KafkaConsumer`).

[2015-09-23 18:14] akshayn1107 opened #340 "Job/Task Metrics Deadlock"
We noticed a deadlock with `gobblin.runtime.util.TaskMetrics` and `gobblin.runtime.util.JobMetrics`. We are running gobblin in standalone mode. I believe the issue is with the `synchronized` methods `get` and `remove` in the two classes mentioned above. The `jstack` stacktrace is below:

[code]

[2015-10-01 19:06] liyinan926 commented on #340
Working on this.

[2015-10-01 19:45] liyinan926 commented on #340
Found the bug and working on a fix.

[2015-10-02 16:37] liyinan926 commented on #340
Fixed in https://github.com/linkedin/gobblin/pull/355.

[2015-10-05 14:06] iamwrong opened #367 "gobblin won't work with Hadoop 2.3.0-cdh5.0.1 (cloudera)"
I compiled Gobblin with Hadoop 2.3.0-cdh5.0.1 and it does not work

$./gradlew clean build -PuseHadoop2 -PhadoopVersion=2.3.0-cdh5.0.1

when i try to run the wikipedia example on the hadoop cluster i get this:

$./gobblin-mapreduce.sh --jt jobtracker-url.de:9001 --fs hdfs://hdfs-url.de:8020 --workdir hdfs:///jobresults --conf /home/iamwrong/git/gobblin/gobblin-example/src/main/resources/wikiConfig

[2015-10-05 18:17] liyinan926 commented on #367
@iamwrong to figure out what's actually with the job you need to check the logs of the mappers.

[2015-10-09 22:05] liyinan926 commented on #340
Closing this issue.

[2015-10-09 22:05] #340 closed

[2015-10-09 22:06] liyinan926 commented on #367
@iamwrong are you able to figure out why your job was failing?

[2015-10-13 00:40] prasadnh opened #382 "Is document wrong or my setup?"
https://github.com/linkedin/gobblin/wiki/Getting%20Started

I get error while running bin/gobblin-standalone.sh restart
Oct 12, 2015 3:29:20 PM com.google.common.util.concurrent.ServiceManager$ServiceListener failed
SEVERE: Service JobScheduler [FAILED] has failed in the STARTING state.
java.lang.RuntimeException: Found more than one .properties file in directory: /home/ubuntu/gobblin-dist/conf

[2015-10-13 23:36] liyinan926 commented on #382
@prasadnh The problem here is you are either missing a required command-line argument `--conf` or incorrectly pointing it to `gobblin-dist/conf`. The argument `--conf` is used to specify the path to the job config file directory, whereas `gobblin-dist/conf` is for system configs. Please take a look at https://github.com/linkedin/gobblin/wiki/Gobblin%20Deployment#Standalone-Deployment.

[2015-10-14 00:09] prasadnh commented on #382
Thanks... I can see the process is running. but I see above error even with --conf and I don't see any logs generated except nohup.out (BTW I am new to this area...trying different kafka/hdfs ingestion tools).

ubuntu@ip-10-201-5-35:~/gobblin/gobblin-dist$ ps aux | grep gobblin
ubuntu    8799  5.7  1.2 3500484 98780 pts/3   Sl   17:06   0:01 /usr/lib/jvm/default-java/bin/java -Xmx2g -Xms1g -XX:+Us

[2015-10-14 04:43] sahilTakiar commented on #382
Hey @prasadnh,

There seems to be a couple of issues:

1: You have multiple files that end in `.properties` under `/home/ubuntu/gobblin-dist/conf` you need to remove all but one. Can you send us the contents of that directory? If it is the same as https://github.com/linkedin/gobblin/tree/master/conf then you can remove the file `gobblin-mapreduce.properties`.

2: You are getting a `Permission Deni

[2015-10-14 23:53] prasadnh commented on #382
Thanks... i see three properties files like standlone, quartz, Mapreduce and log4j. do you think I need to move all these?
content of directory is
total 44
-rw-rw-r-- 1 ubuntu ubuntu   627 Oct 12 14:56 reference.conf
-rw-rw-r-- 1 ubuntu ubuntu   149 Oct 12 14:56 quartz.properties
-rwxrwxr-x 1 ubuntu ubuntu  1307 Oct 12 14:56 log4j-yarn.properties
-rw-rw-r-- 1 ubuntu ubuntu   581 Oct 12 14:56 log4j

[2015-10-14 23:57] liyinan926 commented on #382
@prasadnh Move `kafka.pull` out and put it somewhere else. Like what I said above, `gobblin-dist` is intended for system configs only, not for job configs. You can have something like `gobblin-dist/job-conf/kafka.pull`.

[2015-10-15 07:29] kzarzycki-advertine opened #386 "Gobblin not working with KafkaSource and mapreduce"
Hi,
I'm trying to launch gobblin-mapreduce.sh on my job config, that is almost copy/paste from your wiki https://github.com/linkedin/gobblin/wiki/Kafka-HDFS-Ingestion

I'm launching gobblin with command:

[code]

But the job fails with the following repeated error in all mappers:

[code]

It seems that gobblin does not include kafka (and other) jars in the mapreduce tasks's classpath.
I also tried

[2015-10-15 19:51] prasadnh commented on #382
sorry for troubling you guys:)
i removed gobblin-dist and extracted tar. Moved mapreduce property file and started with standalone service with --logdir, I can see logs gobblin-current.log and gc log. but as per this wiki https://github.com/linkedin/gobblin/wiki/Getting%20Started, we need to see job-output file(under workdir) after stopping standalone service. I don't see this file to covert to js

[2015-10-15 20:09] prasadnh commented on #382
Please ignore my previous comment I can see job-output after adding --conf directory and stop the service... but I set workdir is gobblin-dist/bin... can we change job-output location to different location?
I need to look into kafka now...

[2015-10-15 22:16] prasadnh opened #388 "bin/gobblin-mapreduce.sh: 11: bin/gobblin-mapreduce.sh: Syntax error: "(" unexpected"
Hi,

What is this error...

bin/gobblin-mapreduce.sh: 11: bin/gobblin-mapreduce.sh: Syntax error: "(" unexpected

its throwing at function print_usage()

I tried different options in the command, returns same error for all
bin/gobblin-mapreduce.sh start --jt <<url>> --fs <<hdfsurl>> --logdir /home/ubuntu/gobblin/gobblin-dist/logs --conf /home/ubuntu/gobblin/gobblin-dist/conf/config

Prasad

[2015-10-16 13:50] mwol commented on #388
this one works for me using /bin/bash instead of /bin/sh

[2015-10-16 18:50] prasadnh commented on #388
Great!! thanks Mwol... atleast I don't see any syntax error after changing to bash

[2015-10-17 06:41] kzarzycki commented on #386
Hey, anyone has comments on this ticket? I'll be grateful for your help with this, Thank you!
Krzysztof

[2015-10-19 19:05] zliu41 commented on #386
Hi @kzarzycki  seems the jars in `lib` were somehow not correctly added to the hadoop classpath. I couldn't repeat your errors (if you run `gobblin-mapreduce.sh` from the parent dir of `lib` it should automatically work), so I can only make some guesses. In `gobblin-mapreduce.sh` can you replace the line
```export HADOOP_CLASSPATH=$GOBBLIN_DEP_JARS:$HADOOP_CLASSPATH```
with one of the following:
[

[2015-10-19 23:48] prasadnh opened #394 "I get connection error when I try to run map-reduce.sh command with kafka.pull conf"
Hi

Any idea about this error... i can see my spark/hadoop/kafka looks fine but when i run the command
bin/gobblin-mapreduce.sh start --conf /home/ubuntu/gobblin/gobblin-dist/conf/config/kafka.pull

Exception in thread "main" java.net.ConnectException: Call From <<host name/IP>> to localhost:8020 failed on connection exception: java.net.ConnectException:e:  http://wiki.apache.org/hadoop/Connection

[2015-10-19 23:52] zliu41 commented on #394
@prasadnh please double check if `localhost:8020` is the correct uri for your hdfs. You may use `hdfs getconf -confKey fs.default.name` to verify.

[2015-10-20 07:46] prasadnh commented on #394
thanks for the response...
so we cannot have different port  for hdfs?but we are using 9000...

-Prasad

On Mon, Oct 19, 2015 at 4:52 PM, Ziyang Liu <notifications@github.com>
wrote:

--
Thanks,
Prasad

[2015-10-20 16:14] liyinan926 commented on #394
@prasadnh please change the setting of `fs.uri` in `conf/gobblin-mapreduce.properties` to the correct URI for the NameNode of your HDFS setup, e.g., `fs.uri=hdfs://localhost:9000`.

[2015-10-20 23:33] prasadnh commented on #394
Thanks... I put wrong port number in properties file...updated and tried again...

but I see same issue

Exception in thread "main" java.net.ConnectException: Call From <> to localhost:8020 failed on connection exception: java.net.ConnectException:e: http://wiki.apache.org/hadoop/ConnectionRefused

[2015-10-20 23:49] prasadnh commented on #394
I think we cannot give localhost...instead we need to hostname with 9000...but i get different exception

Exception in thread "main" java.lang.IllegalArgumentException: java.net.UnknownHostException: hdfs

[2015-10-21 01:46] zliu41 commented on #394
@prasadnh you can take a look at the stack trace. If the exception happens during the initialization of state store, you need to set `state.store.fs.uri=hdfs://localhost:9000`.

[2015-10-21 01:59] prasadnh commented on #394
This value already there in properties file
state.store.fs.uri=${fs.uri}

[2015-10-21 19:11] #382 closed

[2015-10-22 00:48] prasadnh commented on #394
what could be the reason command hangs forever here

./gobblin-mapreduce.sh stop --conf /home/ubuntu/gobblin/gobblin-dist/conf/config/kafka.pull
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/ubuntu/gobblin/gobblin-dist/lib/slf4j-log4j12-1.7.5.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/bin/hadoop-2.6.0/sha

[2015-10-22 05:29] liyinan926 commented on #394
`gobblin-mapreduce.sh` does not support the option `stop`.

[2015-10-22 08:51] prasadnh commented on #394
oops copied wrong command... same behavior with start

./gobblin-mapreduce.sh start --conf /home/ubuntu/gobblin/gobblin-dist/conf/config/kafka.pull
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/ubuntu/gobblin/gobblin-dist/lib/slf4j-log4j12-1.7.5.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/local/bin/hadoop-2.6.0/

[2015-10-22 16:03] liyinan926 commented on #394
`gobblin-mapreduce.sh` does not support the option `start` either... Have you read https://github.com/linkedin/gobblin/wiki/Gobblin%20Deployment#Hadoop-MapReduce-Deployment?

[2015-10-22 18:03] prasadnh commented on #394
sorry...not sure why I used this stop/start... i was running standalone before and just changed to mapreduce....
even no start/stop same issue... SLF4J: See http://www.slf4j.org/codes.html#multiple_bindings for an explanation.

./gobblin-mapreduce.sh --conf /home/ubuntu/gobblin/gobblin-dist/conf/config/kafka.pull
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file

[2015-10-22 18:13] #388 closed

[2015-10-22 18:19] prasadnh commented on #394
I see process running but i don't see any logs, not sure its really working.

[2015-10-22 18:25] liyinan926 commented on #394
Please remove `gobblin-dist/lib/slf4j-log4j12-1.7.5.jar` and give a try.

[2015-10-28 10:32] galgalesh opened #413 "What Java version is supported?"
Is it possible to add to the documentation what the recommended java version is to compile and run?

[2015-10-29 02:03] TheArtOfEngineering commented on #328
I am having what appears to be the same issue with the KafkaSimpleSource. I am able to connect to Kafka with the kafka-python module, so it doesn't appear to be a connection or firewall issue. Perhaps it has something to do with my configuration settings in my pull file?

My broker is specified as:
kafka.brokers=<hostname>:9092

The new API, is that just an apache implementation of the Gobblin Kaf

[2015-10-29 19:16] liyinan926 commented on #394
@prasadnh any update on this issue?

[2015-10-29 20:58] mark1900 opened #419 "Gobblin Binary Releases"
It is great to see that Gobblin is now tagging releases (0.5.0), though I think it would be very helpful if  there were some downloadable binary releases so that I could avoid the manual build process.

https://github.com/linkedin/gobblin/releases
* https://github.com/linkedin/gobblin/archive/gobblin_0.5.0.zip ~ 1.04 MB
* https://github.com/linkedin/gobblin/archive/gobblin-gobblin_0.5.0.tar.gz ~ 4

[2015-10-29 21:06] mark1900 opened #420 "Gobblin Java + Maven Support"
I current work in a Java + Maven development environment and found that when extending Gobblin's functionality, the build process can get a little complicated.

Below is a sample Gobblin Maven project I wrote a couple of months ago:
https://github.com/mark1900/druid-sandbox/tree/master/kafka-gobblin-hdfs-test

Some suggestions that would make my life easier.
* Sample Maven project  ( Like gobblin-

[2015-10-30 00:35] prasadnh commented on #394
No update... No success so far. 
I am working on upgrading our servers... Will try one more time once it's up and running.

Sent from Outlook

On Thu, Oct 29, 2015 at 12:16 PM -0700, "Yinan Li" <notifications@github.com> wrote:

@prasadnh any update on this issue?

—
Reply to this email directly or view it on GitHub.

[2015-10-30 20:07] mark1900 opened #424 ""JSON Records" Writer Support"
Currently these is no out-of-the-box support for "JSON Records" (Hadoop Splittable multi-line JSON - Not "JSON Files") as an output format, even though it is a very popular data format It would be great if this was added.

The most common Hadoop File Formats:
* http://www.inquidia.com/news-and-info/hadoop-file-formats-its-not-just-csv-anymore

See Also:
* [WriterOutputFormat](https://github.com/li

[2015-11-02 15:09] rsimiciuc commented on #386
I have the same problem. Any solution?

[2015-11-03 04:22] superwood opened #427 "how can Gobblin run on storm or spark?"
how  can Gobblin run on storm or spark?     Is there some plugable access to do that?

[2015-11-03 06:45] liyinan926 commented on #427
@superwood Gobblin currently is not able to run on Spark or Storm. It's possible to make Gobblin run on Spark by wrapping Gobblin `Source` and `Extractor` into something like a `GobblinInputFormat` and `GobblinInputSplit` and additionally other Gobblin operators into Spark operators.

[2015-11-04 19:02] weberr13 opened #431 "Cent 7.1 gradlew build fails on getURLs() on null object"
Trying to install following the guide I'm DOA with the following:

$ ./gradlew clean build --stacktrace
Parallel execution with configuration on demand is an incubating feature.
Creating properties on demand (a.k.a. dynamic properties) has been deprecated and is scheduled to be removed in Gradle 2.0. Please read http://gradle.org/docs/current/dsl/org.gradle.api.plugins.ExtraPropertiesExtension.htm

[2015-11-05 08:17] Paul424 opened #433 "SimpleJsonConverter raises ClassCastException when "long" type used in schema"
I trying to run the given example source/converter named SimpleJsonConverter to run with our own json/schema.

Part of schema looks like this:
{"name": "tag", "type": ["long", "null"]}

And an example row from the source data:
"tag":{"long":1},

When i run the job it raises a cast exception, i figured out because gson treats each number as double precision (double); when the target object does not

[2015-11-06 15:53] mark1900 commented on #424
It is also worth mentioning that [WriterOutputFormat.java](https://github.com/linkedin/gobblin/blob/master/gobblin-api/src/main/java/gobblin/writer/WriterOutputFormat.java) does not support JSON.

[code]

[2015-11-06 23:42] A-merpact commented on #431
I have same issue before, I guess your jdk has not been properly installed. Please try:

yum install java-1.7.0-openjdk-devel

[2015-11-09 20:47] weberr13 commented on #431
Amazing!! thank you @A-merpact that fixed it.  I really appreciate the help.

[2015-11-09 20:47] #431 closed

[2015-11-10 16:13] mark1900 commented on #424
Some Performance Metrics of differing output formats (Avro vs Parquet vs CSV vs JSON etc):
* http://grisha.org/blog/2013/06/11/avro-performance/
* https://github.com/eishay/jvm-serializers/wiki
* https://indico.cern.ch/event/304944/session/9/contribution/43/attachments/578924/797136/chep2015-scaleout-databases.pdf

[2015-11-11 21:10] sahilTakiar commented on #413
Hey @galgalesh Gobblin is currently compiled against Java 7. This means the env you deploy Gobblin on must run Java 7+

I agree it is not well documented, you can see what Java Version we compile against by taking a look at this line in the main build.gradle script: https://github.com/linkedin/gobblin/blob/master/build.gradle#L158

[2015-11-17 09:30] klyr commented on #386
Hi @kzarzycki-advertine,

I had the same problem and struggled a while to fix it.
In my case it was a problem with the hive-exec library embedding the (not shaded) guava library. It took precedence over the newer guava library.
Here is the related JIRA issue: https://issues.apache.org/jira/browse/HIVE-5733

A quick fix is to remove `hive-exec-0.13.1.jar` or not including it in the `--jars` option.

[2015-11-17 17:55] #427 closed

[2015-11-17 17:56] zliu41 commented on #424
See google group post https://groups.google.com/forum/#!topic/gobblin-users/cGmqj4qDxak

[2015-11-17 17:56] #424 closed

[2015-11-17 18:00] zliu41 commented on #328
@allmycode @TheArtOfEngineering
I recently tried to set up a Kafka job on my Macbook running OS X Yosemite, and it couldn't connect to any Kafka broker (even localhost) with the same `SocketTimeoutException`. However, on my Linux machine there's no problem whatsoever. I don't yet know why but you may want to try it in a different environment.

[2015-11-17 20:04] mark1900 commented on #424
@zliu41, I don't feel like this post has addressed this issue.  Moreover, the one possible work-around of using the AVRO WriterOutputFormat value and hacking a class to overwrite the extension to JSON, doesn't really address the lack of good built-in support for JSON Records.

A suggested work-around:

[2015-11-17 20:21] zliu41 commented on #424
Hi @mark1900 we recently made some changes to `WriterOutputFormat` in #456. Now you can set `writer.output.format=json`.

I closed this issue since there's a thread on google group so this one is considered duplicate.

[2015-11-17 22:22] rsimiciuc commented on #419
+1
It would be cool if you can publish some release timelines

[2015-11-18 15:34] yiming187 opened #465 "Not compatible with Confluent's schema registry"
Hello, I found the gobblin's schema registry client fetch the schema by topic name, but in Confluent's schema registry, all topic's schema names are end with '-value', for example 'AAA-value'. So the KafkaAvroExtractor will throw out: Cannot find latest schema for topic 'AAA'.

[2015-11-18 16:08] mark1900 commented on #424
@zliu41 Great to see that out-of-the-box support for the .json file extension (Or any file extension) has been added to Gobblin.

Has there been any change on "JSON Records" Writer Support?

Specifically combine multiple Kafka JSON messages into one JSON file, in a way that is similar to what happens when using persisting using the Avro data format.

For instance one .json file might contain 3 rec

[2015-11-18 16:41] gilmichlin commented on #386
I can confirm it's I can reproduce on HDP 2.3.0
 ./gradlew clean build -PuseHadoop2 -PhadoopVersion=2.7.1 -PhiveVersion=1.2.1

upgrade to hive 1.2.1 did not work for me

just used:
 --jars  `ls lib/* | grep -v hive | tr "\n" ","`

and it was working

[2015-11-18 16:58] zliu41 commented on #386
@klyr @gilmichlin thanks for posting! I'll see if updating the hive version works.

[2015-11-18 17:05] zliu41 commented on #465
Hi @yiming187 we've decoupled the schema registry implementation with `KafkaAvroExtractor` in #461. Now you can use any implementation of `KafkaSchemaRegistry` and use it with an implementation of `KafkaAvroExtractor`. It will be great if you can add the Confluent schema registry client to the repo since we'd like to be able to support it out of the box.

[2015-11-18 22:28] zliu41 commented on #386
I've updated the hive version to 1.2.1. #466

[2015-11-18 22:37] gilmichlin commented on #386
1.2.1 did not work for me with HDP 2.3.0 only the
--jars ls lib/* | grep -v hive | tr "\n" ","

[2015-11-19 12:50] DataEngg commented on #328
Any update on the issue ?

[2015-11-19 18:22] zliu41 commented on #386
@gilmichlin is it still because of the Guava dependency? Based on HIVE-5733 it shouldn't be a problem with Hive 1.2.0 or later.

If so, is there any hive version that works for you?

[2015-11-19 20:45] x10ba opened #471 "Failure: Build failed with an exception"
Hi,
I can't build gobblin via gradle.

system: centos

command: ./gradlew clean build -PhadoopVersion=2.7.1 --stacktrace --debug -PuseHadoop2

Error:
20:25:01.116 [DEBUG] [org.gradle.process.internal.DefaultExecHandle] Changing state to: STARTING
20:25:01.170 [DEBUG] [org.gradle.process.internal.DefaultExecHandle] Waiting until process started: command 'git'.
20:25:01.266 [DEBUG] [org.gradle.proce

[2015-11-19 20:46] zliu41 commented on #471
Please do `git fetch -t upstream master`

[2015-11-19 20:52] #471 closed

[2015-11-19 20:52] liyinan926 commented on #471
We just posted an announcement here https://groups.google.com/forum/#!topic/gobblin-users/8i1gaMTMSXU.

[2015-11-19 21:24] x10ba commented on #471
That worked.
I switched from the zip version to git clone and built successfully.

[2015-11-20 18:46] gilmichlin commented on #386
I am going to check it out in the weekend

[2015-11-22 19:27] samirabdou commented on #367
I came across the same issue:

**Running:**
[code]

**Leads to:**
[code]

**The mappers logs show:**
[code]

**I solved the issue by adding the gobblin-example.jar to the classpath:**
[code]

It seems that when jars are not specified explicitly, it doesn’t get added to the classpath!

[2015-11-23 18:58] gilmichlin commented on #386
Still Guava
you will be able to reproduce by loading HDP 2.3.X VM build with the following:
[code]
running the following wikipedia example
[code]
will give the following error
[code]
listing Hive jars
[code]

running like that would work
[code]

[2015-11-23 19:11] rsimiciuc commented on #386
I had the same problem with running gobblin on CDH5, but i managed to solve
it by shadowing guava

On Monday, 23 November 2015, gilmichlin <notifications@github.com> wrote:

--
//R Mobile

[2015-11-23 19:41] viacoban opened #476 "Caused by: java.util.ConcurrentModificationException writing avro to hdfs"
extracting avro events from kafka and writing them to avro hdfs gives me this exception every time.
I have a custom implementation of kafka source and extractor. Any idea what could be wrong here?

[code]

[2015-11-23 21:22] #476 closed

[2015-11-23 21:23] liyinan926 commented on #476
Have you found what's wrong?

[2015-11-25 21:45] sahilTakiar commented on #420
Hey @mark1900,

We are currently working on publishing Gobblin artifacts to Maven: https://github.com/linkedin/gobblin/pull/469

[2015-11-27 13:42] mwol opened #486 "MRCompactorAvroKeyDedupJobRunner and schema changes"
Input avro schema is set at job level (MRCompactorAvroKeyDedupJobRunner#configureSchema), this should not be the case, as the avro file's own schema will be ignored. e.g. I ran into an error, where I could not even read a file any more, after changing one data type from ["null","string] to ["null","long"] and had mixed input files.
Changes like this are not common and should not occur frequently b

[2015-11-30 10:35] mwol commented on #486
gobblin.compaction.mapreduce.avro.AvroKeyCombineFileRecordReader#nextKeyValue was overwritten by myself to track the exception...

[2015-12-01 01:30] x10ba opened #490 "Error: ./gobblin-mapreduce.sh: line 124: /hadoop: Is a directory"
Hi.
Hadoop Version: (horton) 2.7.1.2.3.0.0-2557
OS: Centos 7

I run this command:
$ ./gobblin-mapreduce.sh --conf /gobblin/gobblin-dist/conf/gobblin-mapreduce.properties

I get this error:
./gobblin-mapreduce.sh: line 124: /hadoop: Is a directory

This is the shell:
...
# Launch the job to run on Hadoop
$HADOOP_BIN_DIR/hadoop jar \
        $FWDIR_LIB/gobblin-runtime.jar \
        gobblin.runtime.m

[2015-12-01 01:49] ydai1124 commented on #490
@x10ba Can you check your env settings of HADOOP_BIN_DIR?

[2015-12-01 16:59] x10ba commented on #490
Hi @ydai1124
If I have it set to
 /usr/bin: I get "no such file or directory"
or
/usr/hdp/ver: I get " /hadoop: is a directory"

(I am researching credentials, paths and versioning issues)

Thanks,
x10ba.

[2015-12-01 18:09] ydai1124 commented on #490
Hi @x10ba
`HADOOP_BIN_DIR` should be set to the `bin` directory under your Hadoop installation directory.

[2015-12-02 07:09] kadaan opened #495 "Wrong directory referenced for yarn config"
A recent commit (#489) changed the location of the yarn config files from /conf to /conf/yarn, but the gobblin-yarn.sh script references them at /yarn/conf.  Which one is correct?

[2015-12-02 07:12] liyinan926 commented on #495
`conf/yarn` should be the correct location.

[2015-12-02 16:18] x10ba commented on #490
closing issue since relates to config/ fs

[2015-12-02 16:18] #490 closed

[2015-12-02 16:42] kadaan commented on #495
I created a PR to fix this: #496

[2015-12-02 17:04] sahilTakiar commented on #495
Yes, this was incorrectly set in https://github.com/linkedin/gobblin/pull/489/files but was fixed in https://github.com/linkedin/gobblin/pull/492 and https://github.com/linkedin/gobblin/pull/496

I just merged https://github.com/linkedin/gobblin/pull/496

[2015-12-02 17:04] #495 closed

[2015-12-03 00:32] viacoban commented on #476
yes, I did, I have implemented a custom avro extractor, and was reusing the GenericRecord instance in extractor. Looks like extractors and writers in gobblin are being executed concurrently.
exception was thrown when same GenericRecord instance was being read into and written from

[2015-12-04 00:41] liyinan926 commented on #420
@mark1900 check out the Maven artifacts at https://repo1.maven.org/maven2/com/linkedin/gobblin/.

[2015-12-04 15:43] chavdar commented on #419
Hi,

We've been working on setting up a upload of artifacts to Maven. In fact, we have our first test upload: https://repo1.maven.org/maven2/com/linkedin/gobblin/

We expect to have our first official release to Maven next week (12/13).

[2015-12-04 15:47] chavdar commented on #413
I've updated the "Getting Started" wiki: https://github.com/linkedin/gobblin/wiki/Getting-Started

[2015-12-04 15:47] #413 closed

[2015-12-05 01:32] x10ba commented on #386
Hi, I think my error is similar to this thread, so putting it here (not sure if I need to change my properties):

Exception in thread "main" java.lang.RuntimeException: java.lang.ClassNotFoundException: gobblin.source.extractor.extract.kafka.kafkaSimpleSource

Current sys:
centos

Invoke:
[bin]$ ./gobblin-mapreduce.sh --conf ~/gobblin/gobblin-dist/conf/gobblin-mapreduce.properties  --workdir ~/gob

[2015-12-08 01:00] kadaan opened #508 "Support for publishing artifacts to repositories other than sonatype"
It would be good if the build supported publishing artifacts to other repositories.  If this was supported I could then develop additional libraries in an external contrib project using features that have not yet been pushed to master.  My thinking here is that we should be able to disable signing (it will be enabled by default) and override the repository and snapshotRepository (it will default t

[2015-12-08 08:03] chavdar commented on #508
Sure. That should be easy to do.

On Mon, Dec 7, 2015 at 5:00 PM, kadaan <notifications@github.com> wrote:

[2015-12-08 18:37] kadaan commented on #508
I'm claiming this one.

[2015-12-08 19:08] kadaan commented on #508
@chavdar I got publishing to artifactory working, but I noticed that the version number of the jars is a little weird.  For instance, right now the jars are published with version: 0.5.0-337-g34cf68c.  This corresponds to the tag.  Additionally it publishes to the release repository. It seems like it would be better to publish snapshot versions until there is a release.  What do you think? What is

[2015-12-08 21:46] x10ba opened #510 "NoClassDefFoundError: gobblin/util/JobConfigurationUtils"
Sys: centos
hdp: 2.7.1

invoke:
./gobblin-mapreduce.sh --conf ~/gobblin/gobblin-dist/conf/gobblin-mapreduce.properties  --workdir ~/gobblin/work --jars ~/gobblin/gobblin-dist/lib/gobblin-utility.jar

returns this error:
WARNING: Use "yarn jar" to launch YARN applications.
Exception in thread "main" java.lang.NoClassDefFoundError: gobblin/util/JobConfigurationUtils
	at gobblin.runtime.mapreduce.Cli

[2015-12-09 05:43] chavdar commented on #508
Hi,

The version is based off the most recent tag. The idea is to create a
release tag gobblin_X.Y.Z and the build will generate a build with version
X.Y.Z. If there have been commits after the tag, those cause the
"-337-g34cf68c"
part. You can override the version using -Pversion=A.B.C .

We plan to have an official release to Maven Central about every 2 weeks
(our sprint duration). The first off

[2015-12-09 07:07] kadaan opened #511 "Yarn test fail when hadoop2 is enabled and hadoopVersion is 2.3.0"
If you run the yarn tests when the useHadoop2 property is set, but the version is left at the default (2.3.0), then GobblinApplicationMasterTest.setUp,GobblinWorkUnitRunnerTest.setUp, and GobblinYarnAppLauncherTest.setUp fail due to:
[code]
and
[code]
These tests pass when hadoopVersion is set to 2.6.0.

[2015-12-09 07:17] liyinan926 commented on #511
I have seen a similar issue but for a different error. It was because Hadoop jars of different version were used at runtime. I fixed is by forcing the correct version of certain jars. Checkout here https://github.com/linkedin/gobblin/pull/501/files#diff-669258ececbf7d97481e2e734c29e339.

[2015-12-09 13:08] chosh0615 opened #512 "TIMESTAMP Watermark type with milliseconds"
The TIMESTAMP watermark type works fine when JDBC column type is defined with format yyyy-MM-dd HH:mm:ss. However, when working with a column with timestamp with fraction of seconds, yyyy-MM-dd HH:mm:ss.ffffff for instance, some data between previous high watermark and current low watermark.
Is there any suggestion to workaround this?

If this type of source cannot be processed yet, we suggest a n

[2015-12-09 16:54] kadaan commented on #508
I'm not really asking for you to release snapshot builds, but for the process to support snapshot builds easily.  Given the current plan, if I pull master and build I will get a new version.  Once I upload that version to artifactory I will have to change all references to it to take advantage of the latest unreleased changes.  This will be most painful when developing libraries against gobblin ma

[2015-12-09 17:09] kadaan commented on #508
Looking at this a little more, it seems like what you are doing might be match the versioning schema for Oracle provided artifacts as described here: https://docs.oracle.com/middleware/1212/core/MAVEN/maven_version.htm#MAVEN8903

If so, maven is supposed to handle this correctly.

[2015-12-09 22:08] kadaan commented on #511
The question is

[2015-12-09 22:08] #511 closed

[2015-12-10 17:54] liyinan926 commented on #510
First of all, the option `--conf` is for job configuration file like `.job` or `.pull` files, not for system configuration file like `gobblin-mapreduce.properties`, which gets loaded automatically so you don't need to. Second, `--jars` is for additional jars not included in `lib/` you need to run your job.

[2015-12-10 21:02] x10ba commented on #510
Hi,
Well.

[x10ba]$ ./gobblin-mapreduce.sh --conf ~/gobblin/gobblin-dist/conf/mp1.job  --workdir ~/gobblin/work

WARNING: Use "yarn jar" to launch YARN applications.
Exception in thread "main" java.lang.NoClassDefFoundError: gobblin/util/JobConfigurationUtils
	at gobblin.runtime.mapreduce.CliMRJobLauncher.run(CliMRJobLauncher.java:56)
	at org.apache.hadoop.util.ToolRunner.run(ToolRunner.java:70)

[2015-12-10 21:24] liyinan926 commented on #510
Are you running this based off the uncompressed targ ball `gobblin-dist.tar.gz`?

[2015-12-10 21:29] x10ba commented on #510
Yes. and versioned on 2.7.1

[2015-12-11 00:04] liyinan926 commented on #510
Can you check if you have `gobblin-utility.jar` under `lib/`?

[2015-12-14 05:59] thedrow commented on #512
Shouldn't the TIMESTAMP type support milliseconds? I don't think that introducing another type is necessary.

[2015-12-14 06:08] thedrow opened #521 "No workflow to identify content type"
The extractor assumes that the same formats are always received from a Source which is not always the case.
One can write a composite extractor that is able to tell in which format the message is in (JSON, Avro, Protobuf etc.) and invoke the real extractor on it. However it feels like there should be a native concept that allows us to do just that.

[2015-12-14 06:11] thedrow opened #522 "AvroKafkaDataWriter is a stub"
It's good idea for feature that will allow us to perform multiple ETL runs but it's currently not implemented.
I think we should either remove it or implement it as soon as possible to avoid confusion.
Also, it makes more sense to create a generic KafkaDataWriter.

[2015-12-14 18:12] x10ba commented on #510
Hi.
Yes. gobblin-utility.jar is in lib/
Thanks,
x10ba

[2015-12-15 01:22] #508 closed

[2015-12-15 01:43] kadaan opened #525 "Private version of Apache Helix causes maven repo to be unusable"
The gobblin-yarn build.gradle includes a reference to an private version of helix: `compile files('./src/main/resources/helix-core-0.6.6-SNAPSHOT.jar')`.  When the gobblin libraries are pushed to maven, the private version of helix is not pushed.  Because of this, tarballs built from maven are missing the helix jar.

Is it possible to switch to the latest release or snapshot version of helix?

[2015-12-15 19:26] liyinan926 commented on #525
The local Helix jar contains critical patches that have not been merged into the trunk yet. We are working on that though.

[2015-12-15 22:23] kadaan commented on #525
For now we are just pushing it to artifactory. Please update this when the merge to helix trunk is done.

[2015-12-15 23:11] kitmanmcneel opened #529 "timeout in JdbcProvider is set incorrectly"
source.conn.timeout value is passed into BasicDataSource as maxActive which sets the maximun concurrent connections not DB timeout.

[2015-12-16 17:12] kadaan opened #532 "Hadoop Configuration setup is not generic"
I noticed that in many places the Hadoop Configuration class is initialized via `HadoopUtils.newConfiguration()`.  This class explicitly sets a few s3 related properties:

[code]

While this works for s3 and s3n, it does not account for s3a.  Additionally, it doesn't work for any other filesystems which may need properties.

It seems like it would be better to initialize the Hadoop Configuration b

[2015-12-16 18:01] kadaan commented on #532
Can you explain why HadoopUtils has two different mechanisms to create configuration?  One that creates a configuration that doesn't pull any setting from properties: `public static Configuration newConfiguration()`.  The other loads the properties from State and adds them to the configuration: `public static Configuration getConfFromState(State state)`.

[code]

[2015-12-17 01:07] chosh0615 commented on #512
TIMESTAMP type supports only upto seconds, as I mentioned above.
I think it is necessary to create another type to support upto milliseconds(6) just like DATE or HOUR watermark type.
The only issue is size of the watermark value. The watermark should be compatible with Long type, but yyyyMMddHHmmssffffff format is too long for Long type. In order to fit in to Long type, we need to merge two fields

[2015-12-17 16:11] kadaan commented on #508
BTW, the following version specification in maven works to correctly limit the dependency to any instance of the 0.5.0 version: `<version>[0.5.0,0.5.1)</version>`

[2015-12-18 06:44] kadaan opened #542 "Cannot publish libraries to mavenLocal"
I'm trying to modify gobblin and then test out the changes with an external project that includes additional sources, extractors, etc.  I don't want to publish the libraries to artifactory unless the changes have been accepted back in gobblin trunk.  To deal with this I want to be able to publish the libraries to mavenLocal.  Unfortunately, give then current build.gradle this doesn't seem possible

[2015-12-18 17:18] kadaan opened #545 "Published gobblin-rest-api jar contains no code"
The published gobblin-rest-api jar (http://search.maven.org/remotecontent?filepath=com/linkedin/gobblin/gobblin-rest-api/0.6.0/gobblin-rest-api-0.6.0.jar) contains no code.  This library is only ~260 bytes, but the expected size should be ~40 kilobytes.  The gobblin-rest-api project produces multiple jars, one that is the output of the project and the other that is the output of rest.li (pegasus).

[2015-12-18 17:39] kadaan opened #546 "Enable uploading of travis build artifacts to s3"
To facilitate troubleshooting of failed travis builds, the test results should be uploaded to s3, gh-pages, or something similar which is accessible by the public.

[2015-12-18 22:05] kadaan commented on #545
@liyinan926 @chavdar This issue makes it impossible to build/run based on the maven libraries.

This is the error that occurs when trying to run with the latest libraries:
[code]

## gobblin-rest-api comparison ##
### Version: 0.5.0 ###
<img width="813" alt="screen shot 2015-12-18 at 1 59 17 pm" src="https://cloud.githubusercontent.com/assets/1904898/11908315/dd9f20a0-a58f-11e5-8eb0-f1173aa20d59.p

[2015-12-22 17:55] kadaan opened #556 "FileBasedSource does not retry previous WorkUnits unless there is new data"
The `FileBasedSource.getWorkUnits` method has the capability to include failed WorkUnits from a previous run in the current run.  Unfortunately, these do not get included unless there are new files in the source.  The reason is the following code:

[code]

I believe a better solution would be to include the previously failed WorkUnits regardless of whether there are new files available.

[2015-12-22 18:39] kadaan commented on #556
@liyinan926 What is your take on this?

[2015-12-22 18:40] kadaan commented on #545
Fixed by #550

[2015-12-22 18:42] liyinan926 commented on #556
@kadaan I agree with you that failed `WorkUnit`s should be included for retry regardless of whether there are new files to pull.

[2015-12-22 18:43] kadaan commented on #556
@liyinan926 I will submit a PR today.

[2015-12-22 18:58] liyinan926 commented on #556
@kadaan thanks!

[2015-12-22 19:08] kadaan commented on #556
Fixed in: #559

[2015-12-22 19:12] ibuenros commented on #532
You are right that `Configuration` creation is inconsistent, and this prevents certain filesystems from working correctly. Besides the examples you mentioned, sometimes we just create them using `new Configuration()`. The reason for this is simply that we never centralized the creation of `Configuration`.

This is a high priority issue at this point. To avoid duplicating work, are you already work

[2015-12-22 19:13] kadaan commented on #532
@ibuenros I've reworked a couple internally to do what I suggested above.  I can do more, but would like to lock down the approach.

[2015-12-22 19:17] kadaan commented on #545
#550 is an incomplete fix.

[2015-12-22 19:18] ibuenros commented on #532
From talks in LinkedIn, we think that there should be a centralized `newConfiguration(State)` method, probably in `HadoopUtils`. Additionally, there should be a method `HadoopUtils.newFileSystem(URI, State)` which uses `HadoopUtils.newConfiguration(State)`.

Also, the better approach instead of hard-coding the keys that are copied from `State` to `Configuration`, is to take any key with prefix `ha

[2015-12-22 19:26] kadaan opened #561 "BaseDataPublisher marks WorkUnitState as COMMITTED even if the publish fails"
**This issue can result in data loss**

The BaseDataPublisher uploads the output files to the publish location and in the process marks the WorkUnitStates as COMMITTED.  Currently the code uploads each output directory using `ParallelRunner.movePath()`.  This fires off a future and returns.  After returning, the WorkUnitState is marked as COMMITTED.  This means that WorkUnitStates are marked as CO

[2015-12-22 19:33] kadaan commented on #532
My initial feeling is that  `HadoopUtils.newConfiguration(State)` and `HadoopUtils.newFileSystem(URI, State)` are a good idea.

I also agree that hardcoding the keys is not the best solution.  However, I had a different take on how to deal with that.  I would prefer to have different components use different prefixes.  For instance, when getting a configuration for a DataPublisher, we would inject

[2015-12-22 21:48] #556 closed

[2015-12-23 17:46] zliu41 commented on #561
@kadaan yes this is definitely a bug. Thanks for pointing out. The fix doesn't seem trivial and I'll seek opinions from other contributors. If you have any suggestions please let us know.

[2015-12-23 17:49] kadaan commented on #561
@zliu41 I have a fix that seems to work for my case, but I could really use some extra eyes on it.  I can submit a PR today.

[2015-12-23 18:00] zliu41 commented on #561
Sounds good!

[2015-12-23 19:19] kadaan commented on #561
@zliu41 Added initial attempt for a fix in #572

[2015-12-29 13:34] vamsilingala opened #577 "Gobblin Problem No AbstractFileSystem for scheme: null"
Hi,

Good Day!

hadoop version
Hadoop 2.5.0-cdh5.3.3

I am getting below exception when I run below shell script. Please suggest me the solution.

bin/gobblin-mapreduce.sh --conf /home/nagendras/DataIngestion/gobblin-master/gobblin-dist/jobconf/kafkatoHDFSMapR.pull

ERROR [AbstractJobLauncher] Failed to launch and run job job_GobblinKafkaQuickStart_1451372191797: org.apache.hadoop.fs.UnsupportedFi

[2016-01-04 03:33] vamsilingala commented on #577
Please someone respond....

[2016-01-04 05:31] har777 opened #579 "Gobblin support for Kafka 0.7"
Does Gobblin support Kafka 0.7 as a data source ?

[2016-01-04 16:32] abhiapsunde opened #580 "Getting ClassNotFoundException for gobblin.compaction.CompactionRunner"
I'm following instructions to run MR compactor.

The gobblin-compaction.jar has manifest hard coded to run following class :  gobblin.compaction.CompactionRunner
I don't think this class is even present in the codebase, there is one gobblin.compaction.hive.CompactionRunner though. My understanding from the documentation is its the second type of compactor [hive].

Am I missing something here, abou

[2016-01-04 16:56] valdo404 opened #581 "Why is KafkaSchemaRegistry inside "gobblin-metrics" package ?"
Looks like the class is in the wrong package :)

[2016-01-04 18:25] kadaan commented on #581
This does seem like the wrong place this to live.

[2016-01-04 18:25] kadaan commented on #532
@ibuenros Can you comment on this so we can figure out how to proceed?

[2016-01-04 18:26] kadaan commented on #525
What is the status of this?

[2016-01-04 18:37] ibuenros commented on #532
That sounds like a great idea. But I suggest having both global injects using `hadoop.inject.*` or similar, and the prefixed injects that you mentioned, which would override the global ones. This allows to set the same access keys for example for all parts of the pipeline, instead of having to repeat similar configuration.

What API were you thinking about? Something like `HadoopUtils.newConfigura

[2016-01-04 18:39] kadaan commented on #532
@ibuenros That works for me.  That API signature seems fine. Can you speak to: "It would be really helpful for me to understand the logic and reasoning behind newConfiguration(), getConfFromState(State state), and putStateIntoConfiguration(State state, Configuration configuration)."

[2016-01-04 18:42] ibuenros commented on #532
I don't think there is logic / reasoning other than people who implemented each of them were unaware of the existence of the other methods. The idea would be to replace all similar calls for the method in `HadoopUtils`.

[2016-01-04 18:43] kadaan commented on #532
Works for me.

[2016-01-04 18:45] ibuenros commented on #532
So are you currently / planning to work on this? Or should we try to schedule it in the LinkedIn team?

[2016-01-04 21:38] vasanthrajamani commented on #579
No, 0.8 is the minimum level.

[2016-01-04 21:39] #579 closed

[2016-01-04 21:43] vasanthrajamani commented on #581
Yes, this is not the best spot for the Kafka dependencies and should be moved.
It will be moved to a better location.

[2016-01-06 11:53] vamsilingala commented on #577
Problem is fixed..
Thanks to Sahil Takiar for updating wiki

https://github.com/linkedin/gobblin/wiki/FAQs#how-do-i-fix-unsupportedfilesystemexception-no-abstractfilesystem-for-scheme-null

[2016-01-06 11:53] #577 closed

[2016-01-07 15:40] lbendig commented on #580
Yes, this needs to be gobblin.compaction.hive.CompactionRunner. I've created a PR to fix this.

[2016-01-07 17:14] #580 closed

[2016-01-08 05:35] kadaan commented on #545
@chavdar What is the status of the rest.li fix?

[2016-01-11 16:48] mark1900 commented on #420
Will there be a sample project highlighting Java Maven integration?  The one example that I could find uses Gradle - https://github.com/linkedin/gobblin/tree/master/gobblin-example.

Seems the Getting Started page only referrences Gradle as well:  https://github.com/linkedin/gobblin/wiki/Getting%20Started

Also is the following the current Maven Dependency recommendation?
[code]

[2016-01-11 23:51] kadaan commented on #532
@ibuenros It depends on how quick you want this done.  I'm waiting on a couple of open PRs for gobblin to be merged and then I may be able to get to this.

[2016-01-14 16:43] kadaan commented on #545
I believe this is now fixed

[2016-01-14 16:44] kadaan commented on #525
@liyinan926 Can you please provide links to the PRs for the critical patches to Helix so that we can track the progress of this?

[2016-01-15 10:05] kadaan commented on #545
@chavdar Can you explain why you did this: https://github.com/linkedin/gobblin/commit/652e5a304239ce62bb7f494f6ab2d03ec5d1f510  Wouldn't it just be better to stop producing the empty jar?

[2016-01-18 11:21] hellof3 opened #612 "don't find gobblin-dist.tar.gz"
I use the command:' ./gradlew clean build -PuseHadoop2 -PhadoopVersion=2.6.0'  and I build successful,but i didn't find the file 'gobblin-dist.tar.gz',what's the problem?

[2016-01-19 07:14] superwood opened #614 "Something wrong when gobblin runing for dump kafka to hdfs. There is the ERROR ."
build cmd
    ./gradlew clean build -PuseHadoop2  -PhadoopVersion=2.3.0-cdh5.1.0

ERROR [AbstractJobLauncher] Failed to launch and run job job_KafkaExampleJob_1453187284612: java.lang.AbstractMethodError
java.lang.AbstractMethodError
	at org.apache.hadoop.io.retry.RetryInvocationHandler.<init>(RetryInvocationHandler.java:73)
	at org.apache.hadoop.io.retry.RetryInvocationHandler.<init>(RetryInvocat

[2016-01-19 10:12] #612 closed

[2016-01-19 16:46] ibuenros commented on #614
Can you include your job configuration?

On Mon, Jan 18, 2016 at 11:14 PM, superwood <notifications@github.com>
wrote:

[2016-01-19 16:52] rgeissen opened #615 "CentOS7 ./gradlew clean build fails: Cannot invoke method getURLs() on null object"
Would be great if you could give advise on how to fix below mentioned:
--------------------------------------------------------------
[osboxes@kafka1n1 gobblin]$ ./gradlew clean build --stacktrace
Parallel execution with configuration on demand is an incubating feature.
From https://github.com/linkedin/gobblin
 * branch            master     -> FETCH_HEAD
Using latest tag for version: gobblin_0.6.

[2016-01-19 21:19] sahilTakiar commented on #612
@hellof3 did you resolve this issue?

[2016-01-19 21:21] sahilTakiar commented on #615
As a workaround, can you comment out line 317 of the `build.gradle` file?

[2016-01-20 04:37] darionyaphet opened #618 "Gradle building failed"
I'm building `gobblin` with `/gradlew  clean build --debug` .
This  java version is "1.8.0_65"  and it's looks like something miss when running git command ?

[code]

[2016-01-20 11:43] superwood commented on #614
I  fixed this problem。 In the  gobblin-mapreducer.sh  ,jars  include by var  "LIBJARS" is wrong.

[2016-01-20 11:51] superwood opened #619 "How to add subpath like YYYYMMDD/HH to the pusher.final.dir?"
Dump data from kafka to hdfs.  The data finally is mv to hdfs:///data/gobblin/job-output/$topicname/

How to create the final dir like hdfs:///data/gobblin/job-output/$topicname/YYYYMMDD/HH/?

configure
data.publisher.final.dir=/data/gobblin/job-output

[2016-01-20 16:58] ibuenros commented on #619
If your data is Avro, you can use:

writer.partitioner.class=gobblin.writer.partitioner.TimeBasedAvroWriterPartitioner
writer.builder.class=gobblin.writer.AvroDataWriterBuilder
writer.partition.pattern=yyyymmdd/hh
writer.partition.columns=<the column that contains the date, e.g.
header.time>

If the data is not Avro, you'll have to write a custom partitioner for your
data. See:

https://github.com

[2016-01-20 17:48] sahilTakiar opened #620 "Better Support for Running Gobblin in MR Mode on Quartz"
The current `bin/gobblin-mapreduce.sh` script uses the `CliJobLauncher.java` class to launch a single instance of the job. There should be better support for launched Gobblin in MR Mode on Quartz so that jobs can be scheduled on a regular basis.

This is theoretically already possible by setting `launcher.type=MAPREDUCE` and using the `bin/gobblin-standalone.sh` script instead of the `bin/gobblin-

[2016-01-20 17:56] sahilTakiar commented on #618
Is `git` installed on the machine you are building on? Can you run the following commands on the same machine and see what the output is: `git fetch -t https://github.com/linkedin/gobblin.git master` `git describe --tags --always`.

[2016-01-20 21:47] kadaan opened #622 "gobblin core contributors should be founders in #gobblin IRC channel"
At least some of the gobblin core contributors (@sahilTakiar, etc.) should be founders in the #gobblin IRC channel.  To do this you will need to follow the steps on https://meta.wikimedia.org/wiki/IRC/Instructions#Register_your_nickname_and_identify to ensure you have exclusive access to your nickname.  Then contact @kadaan and schedule a time to meet in #gobblin. @kadaan will perform the followin

[2016-01-20 23:05] kadaan opened #623 "source.filebased.fs.snapshot can cause excessive memory usage"
Currently the `source.filebased.fs.snapshot` duplicated across each workUnit.  This can cause excessive memory usage when there are a large number of workUnits and the snapshot is large.  When reading in the `source.filebased.fs.snapshot` it is pulled from the first workUnit in the set of previous workUnits.  It would be more optimal to store `source.filebased.fs.snapshot` on the job state.  I bel

[2016-01-21 01:13] #542 closed

[2016-01-21 03:11] darionyaphet commented on #618
I  checkout gobblin from master and running this command

[code]
[code]

It seems OK ?

[2016-01-21 10:43] #486 closed

[2016-01-22 06:50] superwood opened #625 "How and Where we use the "metadata store""
How and Where we use the  "metadata store" ?

[2016-01-22 20:51] sahilTakiar commented on #618
Yeah that seems ok. I'm not 100% sure what the root cause is, but as a workaround you run the following command: `./gradlew clean build -Pversion=gobblin_0.6.0-213-g47177c0 -x test`

[2016-01-23 10:37] rgeissen commented on #615
The Build Worked after installing the Java Cryptography Extension (JCE).

Thanks!

[2016-01-23 10:44] rgeissen opened #628 "Getting Started: Wikipedia example fails not finding /lib/*"
I created a sucessfull gradle build of gobblin, set GOBBLIN_JOB_CONFIG_DIR, GOBBLIN_WORK_DIR and JAVA_HOME appropriately but when I start:

bin/gobblin-standalone.sh start

gobblin stops immediately and I get the following feedback:

bin/gobblin-standalone.sh start
ls: cannot access /home/osboxes/gobblin/lib/*: No such file or directory
Starting Gobblin standalone daemon
Running command:
/opt/jdk1

[2016-01-25 04:05] hellof3 commented on #612
@sahilTakiar it's my questions,because when i firstly built the project,the file 'gobblin-dist.tar.gz' was in the gobblin's root folder,but next time i changed hadoop version and rebuilt,it was gone.Finally,I found it is in the  folder -- '{GOBBLIN}/build/gobblin-distribution/ '.

[2016-01-25 13:27] #628 closed

[2016-01-25 13:48] rgeissen opened #632 "Gobblin Build successfull but cannot find gobblin-dist.tar.gz"
Dear Experts,

after several clean builds of gobblin I am still not able to find the "gobblin-dist.tar.gz" even though the build status states successfull. There are still warnings and errors popping up during the build, but I cant't judge if this is the reason.

The command I used is "./gradlew clean build -PuseHadoop2"

I attached stout and sterr of the Build.
[stdout.txt](https://github.com/lin

[2016-01-25 17:21] sahilTakiar commented on #625
What are you referring to when you say "metadata store"? Is there a document you read that mentions this term? Can you point us to this document so we have more context.

Off the top of my head, there are two "metadata stores" Gobblin has:
* The Gobblin `state-store`: https://github.com/linkedin/gobblin/wiki/Gobblin-Architecture#job-state-management
* The Gobblin Job History Execution store: https

[2016-01-25 19:46] sahilTakiar commented on #632
Hey @rgeissen there seems to be a bug in the build. To unblock you can find the tarball under `build/gobblin-distribution/distributions/`

[2016-01-25 20:54] rgeissen commented on #632
thanks, that worked!

[2016-01-25 20:54] #632 closed

[2016-01-29 04:51] gowthamsadasivam opened #644 "mkdir: cannot create directory ‘’: while stopping the Gobblin daemon"
I'm following the **Getting Started** guide from the [Wiki Page](https://github.com/linkedin/gobblin/wiki/Getting%20Started). At step **After the job is done, stop Gobblin by running** I got an error says **"mkdir: cannot create directory ‘’: No such file or directory"**

![Gobblin Error](http://i.imgur.com/Pr2Rp1b.jpg)

What could be the reason?

[2016-01-29 05:20] sahilTakiar commented on #644
Hey @gowthamsadasivam, can you post the full logs of the job that ran, as well as any configuration files you have created.

[2016-02-02 01:10] loryfelnunez opened #652 "Kafka-Goblin on MR - Error, even if Topic is written on HDFS"
Running map-reduce on Kafka seem to consume the topic from my Kafka producer and write to HDFS.  But I get the errors below.

WARN [AbstractJobLauncher] Not committing dataset  of job job_GobblinKafkaQuickStart_1454370378013 with commit policy COMMIT_ON_FULL_SUCCESS and state FAILED
ERROR [AbstractJobLauncher] Failed to launch and run job job_GobblinKafkaQuickStart_1454370378013: java.io.IOExcepti

[2016-02-02 04:27] sahilTakiar commented on #652
Hey @loryfelnunez the logs are basically saying that one of the Map tasks failed. Unfortunately, to get the full stack trace of the Map Task you have to read the Map Task Logs.

Can you try `yarn logs -applicationId application_1454278218699_0009` again? Sometimes its takes a while for the logs to get aggregated.

Alternatively, do you have Job History store running? This should allow you the view

[2016-02-02 12:25] loryfelnunez commented on #652
Thanks Sahil.

I looked at my Job History and saw that my Hadoop configuration had an errant
<property>
    <name>fs.default.name</name>
    <value>hdfs://0.0.0.0:9000</value>
  </property>
In my NameNode.

I removed it and my job seems to go further, until I hit this error:
Error: java.lang.ClassNotFoundException: org.apache.commons.lang3.StringUtils

I added to map-reduce.sh
LIBJARS=$FWDIR_LIB/c

[2016-02-02 21:32] kadaan opened #654 "Gobblin Yarn fails to shutdown all containers"
While shutting down the application, not all containers are shutdown.  The following are the logs for the failure:

[code]

[2016-02-02 21:35] DanisHack commented on #652
Solved. Make sure all machines in your cluster same JAVA version, correct JAVA_HOME set and reducer and mapper has correct memory allocated.

[2016-02-03 03:53] bjvanov opened #656 "Gobblin Build Failed - FileAwareInputStreamDataWriterTest : testCommit"
Attempt to build gobblin according to the README using the following command:

yields failure of **testCommit** test from **FileAwareInputStreamDataWriterTest**. The build report suggests that the build is trying to edit the permissions of a group that does not exists:

[2016-02-03 03:55] sahilTakiar commented on #656
Trying building with `-x test` at the end of your command, that will prevent any tests from running.

[2016-02-03 04:42] bjvanov commented on #656
This gave me a successful build. Thank you.

[2016-02-03 04:42] #656 closed

[2016-02-03 06:18] kadaan opened #658 "ParallelRunner can close without all futures finishing"
The way `ParallelUtils.close()` works, the close method can return and futures can still complete in the background.  This can cause problems with code that depends on ParallelRunner and expect that the tasks are done when the ParallelRunner is closed (e.g. `TaskStateCollectorService`).  Additionally, it makes ParallelRunner more confusing.  If all tasks complete successfully, then ParallelRunner

[2016-02-03 07:30] madhukotagiri opened #659 "MySql data extracting issue"
Hi Iam unable to extract data and save the data in hdfs

here is the configuration and .pull files

common.properties  :    file location(/root/Desktop/madhu/goblin/gobblinjob)
========================================================
writer.staging.dir=/root/Desktop/madhu/goblin/staging/
writer.output.dir=/root/Desktop/madhu/goblin/output/

mysql.properties :  file location(/root/Desktop/madhu/gob

[2016-02-03 08:28] superwood commented on #625
https://github.com/linkedin/gobblin/wiki/Gobblin-Architecture

The "metadata-store"  shows  on  "Fig. 1: Gobblin architecture overview."

[2016-02-03 08:33] superwood opened #660 "Is there a way to get the sibship of datas which are processed by gobblin"
Is there a way to get the sibship of datas which are processed by gobblin?

[2016-02-03 12:08] chavdar commented on #660
Could you please clarify your question?

On Wed, Feb 3, 2016 at 12:33 AM, superwood <notifications@github.com> wrote:

[2016-02-03 13:46] chavdar commented on #625
The metadata store is used to store state: workunits, watermarks, etc.,

On Wed, Feb 3, 2016 at 12:28 AM, superwood <notifications@github.com> wrote:

[2016-02-03 13:49] chavdar commented on #659
From the nohup.out:

Exception in thread "main" java.lang.NoSuchFieldError:
DEFAULT_SCHEDULER_WAIT_FOR_JOB_COMPLETION
at gobblin.schedule.rJobScheduler(JobScheduler.java:135)
at gobblin.scheduler.SchedulerDaemon(SchedulerDaemon.java:72)
at gobblin.scheduler.SchedulerDaemonmain(SchedulerDaemon.java:143)

This looks like a compilation/packaging issue. I suggest doing a clean
rebuild.

On Tue, Feb 2,

[2016-02-03 16:12] the3rdNotch opened #662 ""Gobblin project version is not set!" or jars not found/do not exist"
When running the `gobblin-mapreduce.sh` job I always receiving a `Gobblin project version is not set!` response.  If I attempt to pass a version with`--projectversion`, then I get a \<whatever>-\<projectversion>.jar does not exist or can't be found in /gobblin-dist/lib/...

In `gobblin-mapreduce.sh` the variable is set:
`# Set during the distribution build`
`GOBBLIN_VERSION="0.6.2-4-g1f0109a"`

Th

[2016-02-03 16:30] chavdar commented on #656
@bjvanov do you still have the exact exception stack trace. That is a strange exception as the code uses permissions from the existing file system. Are you by any chance running on a SMB-mounted path?

[2016-02-03 17:09] the3rdNotch commented on #662
Actually, just removing the `|| [ "$GOBBLIN_VERSION" == ""0.6.2-4-g1f0109a"" ]` seems to be a better solution.  That will still allow for other versions to be passed with `--projectversion`.

[2016-02-03 18:45] sahilTakiar commented on #662
This seems to be a bug with the approach taken in https://github.com/linkedin/gobblin/pull/635

Sorry for the trouble. Will work on a solution to this.

[2016-02-03 18:59] #658 closed

[2016-02-03 19:23] lbendig commented on #662
It is definitely ugly. I'll take care of it!

[2016-02-03 23:35] #662 closed

[2016-02-03 23:49] awaemmanuel opened #666 "Build failed"
GLib-GIO-ERROR **: Settings schema 'org.gnome.system.proxy' is not installed

[2016-02-04 03:05] sahilTakiar commented on #666
@awaemmanuel can you provide a little more info? The command you running? What OS you are running on? The full logs of the error would also help.

[2016-02-04 03:15] awaemmanuel commented on #666
Hello @sahilTakiar  I use this ` ./gradlew clean build -PuseHadoop2 -PhadoopVersion=2.7.1 `

[2016-02-04 03:34] awaemmanuel commented on #666
Ran it on Ubuntu...

[2016-02-04 03:45] superwood commented on #660
dataA ===>|  [gobblin--job] ===>dataC
                  |
dataB===>|

There is a ease way to show that   datac  is come from   dataA and dataB ?

[2016-02-04 03:48] superwood commented on #625
OK. But where the "metadata store"  is used?  It is configureable?  It can be a mysql  or other storage?

[2016-02-04 05:47] madhukotagiri commented on #659
we are not doing any compilation .
just we installed in one of cluster and trying to run the mentioned command .
we are not writing any custom code just we are exceuting the

below command:
=============

bin/gobblin-standalone.sh start --workdir /root/Desktop/madhu/goblin/gobblinwork/ --conf /root/Desktop/madhu/goblin/gobblinjob/ --logdir /root/Desktop/madhu/goblin/gobblinlog/

[2016-02-04 08:31] lbendig commented on #666
Which JDK do you have? Does the build succeed if you remove the
`-Djava.net.useSystemProxies=true` flag from the javadoc settings in `build.gradle` (main project) ?
If so then I think that the Gnome system proxies are [not picked up] (https://bugs.launchpad.net/ubuntu/+bug/1199822), however according to [Java Networking and Proxies](https://docs.oracle.com/javase/7/docs/technotes/guides/net/proxie

[2016-02-04 11:29] sdikby opened #668 "Ubuntu 14.04.3 ./gradlew clean build -Pusehadoop2 -x test:gobblin-admin Cannot invoke method getURLs() on null object"
# It would be great if anyone could help me understand/give advice on how to solve the below mentioned problem :

$ ./gradlew clean build -PuseHadoop2 -x test --stacktrace
Parallel execution with configuration on demand is an incubating feature.
From https://github.com/linkedin/gobblin
 * branch            master     -> FETCH_HEAD
Using latest tag for version: gobblin_0.6.2-4-g1f0109a
name=gobblin

[2016-02-04 16:14] chavdar commented on #666
https://bugs.launchpad.net/ubuntu/+source/openjdk-7/+bug/1419026

On Thu, Feb 4, 2016 at 12:31 AM, Lorand Bendig <notifications@github.com>
wrote:

[2016-02-04 16:20] kadaan commented on #546
This could be done with travis via: https://docs.travis-ci.com/user/uploading-artifacts/

[2016-02-04 17:38] chavdar commented on #660
Currently, there is no standard way to do that (i.e. data lineage) although
we would like to work that in the (not-so-distant) future.

If I would to implement that, I would have the Source/Extract put
properties in the WorkUnit state identifying the source. Then you can
extend the publisher to emit a tracking event (
https://github.com/linkedin/gobblin/wiki/Gobblin%20Metrics%20Architecture)
with

[2016-02-04 17:59] chavdar commented on #625
Have a look at gobblin.metastore.StateStore interface. Currently, there is
only one implementation -- gobblin.metastore.FsStateStore which stores the
state on HDFS.

On Wed, Feb 3, 2016 at 7:48 PM, superwood <notifications@github.com> wrote:

[2016-02-04 21:29] sahilTakiar commented on #668
Take a look at this related issue: https://github.com/linkedin/gobblin/issues/615

[2016-02-04 21:33] sahilTakiar commented on #659
Unless you are using the Jars on Maven Central, you need to execute the following commands to run a job:

[code]

[2016-02-04 23:20] sahilTakiar commented on #623
Yes, that sounds like the approach taken by `FileBasedSource`, and I agree it is not particularly efficient. Just curious what is your use case for using the `FileBasedSource?

Your approach sounds like it should work, at least from a brief look into the code that handles the serialization of the `SourceState`. Did this approach work for you?

[2016-02-04 23:26] kadaan commented on #623
@sahilTakiar We are reading in a bunch of event log files and loading them into our datamart.  For a 1 hour block of time there might be ~30k files which get get split across ~200 tasks. We are running under yarn so we are especially sensitive to excess memory usage.

I tried the method I outlined above, and it gets past the initial error.  Then it fails later because it gets copied again elsewher

[2016-02-04 23:52] sahilTakiar commented on #654
@kadaan could you send over more of the logs from the AppMaster; specifically, I'm interested in the logs that are printed just before the first exception.

If you can, a copy of the logs from a container would also be helpful.

My current theory is the containers are not properly setting their exit status when they get cancelled, which causes a timeout in the AppMaster. Some notes for future refe

[2016-02-05 02:02] sahilTakiar commented on #623
Yes, we have seen similar problems when running production jobs where OOM exception get thrown because `WorkUnit`s or `TaskState`s are too big. You are correct, I believe the `SourceState` is added to each `WorkUnit` inside a Gobblin Task (e.g. a Map Task, or YARN container). We have some work in progress to deprecate using the `State` objects as we have found them to cause a number of problems. W

[2016-02-05 02:31] kadaan commented on #623
We have put a temporary hack in State to not copy this property around.  It is unfortunate that the current state system duplicates so much data. When do you think the new confit system will be done?

Sent from my iPhone

[2016-02-05 15:39] sdikby commented on #668
I have copied these files in /usr/lib/jvm/java-7-openjdk-amd64/jre/lib/security
But now I have this Problem during building:

sadok@sadok-Inspiron-5547:/usr/local/gobblin$ ./gradlew clean build -Pusehadoop2 --stacktrace
Parallel execution with configuration on demand is an incubating feature.

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project

[2016-02-05 21:08] sahilTakiar commented on #236
Jooq seems interesting but requires Java 8.

The current `JDBCExtractor` converts a `ResultSet` into a GSON `JsonElement`. It would be more flexible to just return a `ResultSet` and have converts for `ResultSetToJson` and `ResultSetToAvro`.

The `JDBCExtractor` should probably not be an abstract class, so it can provide some default implementation for arbitrary JDBC adapters.

[2016-02-05 21:15] sahilTakiar commented on #525
Here on the PRs:

https://github.com/apache/helix/pull/34
https://github.com/apache/helix/pull/35

I believe release 0.7.2 of Helix will have these changes. I don't when it will be release to Maven.

[2016-02-06 03:04] saggidarren opened #672 "mapreduce version failing"
The error is as shown:
[code]
The config file looks like:
[code]

[2016-02-06 16:14] chavdar commented on #672
Are there more logs? It is not clear from the above log what the actual
error is.

On Fri, Feb 5, 2016 at 7:04 PM, saggidarren <notifications@github.com>
wrote:

[2016-02-06 17:48] saggidarren commented on #672
Hello Chavdar,

I am using hortonworks version of hadoop-2.3.4.
I can say that the problem is around these values:
[code]
I think i need to find out what is the correct fs.uri as I see the following in the log file:
[code]

Let me know if I am checking in the right direction?

[2016-02-06 17:57] sahilTakiar commented on #672
Check out this entry in the FAQ: https://github.com/linkedin/gobblin/wiki/FAQs#how-do-i-fix-unsupportedfilesystemexception-no-abstractfilesystem-for-scheme-null

[2016-02-06 18:20] saggidarren commented on #672
Thanks Sahil

[2016-02-08 20:59] kadaan opened #675 "Task Publishing is broken"
Task publishing is broken. The issue is that the `publishData(WorkUnitState state)` method never calls `parallelRunnerCloser.close()`.  This means that the publisher doesn't wait for the futures to finish when `BaseDataPublisher.close()` is called.  This was broken by #657.

[2016-02-08 21:07] kadaan commented on #675
I'm fixing this.

[2016-02-09 00:19] #675 closed

[2016-02-09 00:26] kadaan opened #678 "JobHistory cannot be saved"
The job history cannot be saved to the history mysql db because the endTime is before the epoch.  This seems to be caused by a TimeZone mismatch.  The client is running as PST.  The server is running as UTC.  When the client calls setEndTime() it sets the time as '1969-12-31 16:00:01'.  This results in MySql rejecting the insert with the following error: `Caused by: com.mysql.jdbc.MysqlDataTruncat

[2016-02-09 00:37] kadaan commented on #678
@lbendig You were the last person to work on this specific code.  Any ideas?

[2016-02-09 05:07] kadaan commented on #678
The fix is to specify `useLegacyDatetimeCode=false` as part of the mysql connection string.  I think this should be called out in the docs.

[2016-02-09 05:52] kadaan opened #679 "Admin UI doesn't work unless old jetty jars are excluded"
The admin UI fails with the following error `javax.servlet.http.HttpServletRequest.isAsyncSupported()Z`, unless this jar is excluded:

[code]

[2016-02-09 09:36] abti commented on #668
It seems you have write permission issue at the path: /usr/local/gobblin as per your logs. Please change the permissions and try again?

[2016-02-09 10:17] sdikby commented on #668
Sorry to bother again.
I have succeeded in passing this problem thanks to you. I had also write permissions with ./git that i correct it. Now i have this problem.

sadok@sadok-Inspiron-5547:/usr/local/gobblin$ ./gradlew clean build -x test --stacktrace
Parallel execution with configuration on demand is an incubating feature.
From https://github.com/linkedin/gobblin
 * branch            master

[2016-02-09 10:41] abti commented on #668
This still seems like a permission issue. Try to run as a user who has write access to your gobblin path ( /usr/local/gobblin ) or set permissions to 777 for eg. chmod -R 777 /usr/local/gobblin

[2016-02-09 10:49] sdikby commented on #668
@abti Build Successful
Thank you !

[2016-02-09 10:52] abti commented on #668
Great. Thanks for confirming

[2016-02-09 10:52] #668 closed

[2016-02-09 19:41] saggidarren commented on #672
Hello Folks
I am getting another error which is as follows:

I added the jars in gobblin-mapreduce.sh:
[code]
Error seems to point to Play framework
[code]

[2016-02-09 19:47] ibuenros commented on #672
Hi Dhawal,
You need to have Typesafe config artifacts in the classpath:
http://search.maven.org/#artifactdetails%7Ccom.typesafe%7Cconfig%7C1.3.0%7Cbundle

Hope this helps.
Issac

On Tue, Feb 9, 2016 at 11:41 AM, Dhawal Chohan <notifications@github.com>
wrote:

[2016-02-10 10:22] madhukotagiri commented on #659
after rebuilding we are getting

below issues:

From the nohup.out:
=====================
Error: Could not find or load main class gobblin.scheduler.SchedulerDaemon

in the logs file:
============

/opt/gobblin-dist/logs path
============

Java HotSpot(TM) 64-Bit Server VM (25.51-b03) for linux-amd64 JRE (1.8.0_51-b16), built on Jun  8 2015 19:28:07 by "java_re" with gcc 4.3.0 20080428 (Red Hat 4.

[2016-02-10 17:01] sahilTakiar opened #693 "Avoid Manually Adding Deps to bin/gobblin-mapreduce.sh"
Currently, any new runtime dependencies required by `Task`s (e.g. anything that runs in a mapper) need manually be added to `bin/gobblin-mapreduce.sh`.

We should find a better way of doing this, so users don't keep on hitting `ClassNotFoundException`s.

Ref: https://github.com/linkedin/gobblin/pull/690, https://github.com/linkedin/gobblin/issues/672

[2016-02-10 17:01] sahilTakiar commented on #672
This issue was fixed in https://github.com/linkedin/gobblin/pull/690 which I just merged.

[2016-02-10 21:28] kadaan opened #695 "Foster a more active community by keeping track of all enhancements, issues, etc. in github"
The gobblin community could be grown and development paces accelerated by careful curation of github issues.  As an example, see the Presto project: https://github.com/facebook/presto/issues.  This would not only provide a good idea about the direction of gobblin, but also allow people to jump in and tackle task which may be lower priority for the linkedin team.

[2016-02-10 21:47] sahilTakiar commented on #623
We don't have a definite timeline, but regardless I think storing `fs.filebased.fs.snapshot` in memory is the wrong solution, even if that is the current approach in `FileBasedSource`. Even if we fix the duplicate `State` issue its entirely possible that at some point even one copy of `fs.filebased.fs.snapshot` is too big to fix into memory. We should consider changing the logic in `FileBasedSourc

[2016-02-10 21:51] sahilTakiar commented on #695
Could you expand a little more on what Presto does that you think Gobblin could learn from? Are you referring to the "labels" on the GitHub issues in Presto?

[2016-02-10 21:56] kadaan commented on #695
The use of labels is one big thing.  Additionally, keeping track of "all" enhancement ideas in github would allow people to see what has been though about, ask questions, claim them, etc.

[2016-02-10 22:02] sahilTakiar opened #696 "MRJobLauncher adds jobState props to each WorkUnit"
The following block in `MRJobLauncher` causes all `jobState` properties to be duplicated across all `WorkUnit`s

[code]

This is problematic since these `WorkUnit`s will eventually be serialized to a temp file and read into memory by the driver. The duplicate `jobState` props are not necessary and removing them can save a significant amount of memory.

The `WorkUnit` still needs access to props in

[2016-02-10 22:06] kadaan commented on #696
I'm also removing dupes while writing the data to the history store.

[2016-02-10 22:34] kadaan commented on #623
Regarding the two ideas from above:

1. There is an edge case where the modified timestamp of the file will not be granular enough.  Additionally, if the timestamp changes we would reprocess the file.
2. Regardless of where we store the snapshot we need to do a set difference when determining which files to pick up.
    1. One way of doing this would be pulling the snapshot into memory and diff it

[2016-02-12 01:52] marianomirabelli opened #702 "Failed to run Kafka MapReduce example"
Hello,

I am trying to run kafka-hdfs ingestion example using map-reduce deployment way. However, when execute the gobblin-mapreduce.sh file, the following error is showed:

`Exception in thread "main" java.io.FileNotFoundException: File does not exist: /home/hduser/gobblin/gobblin-dist/conf/gobblin-mapreduce.properties
	at org.apache.hadoop.hdfs.server.namenode.INodeFile.valueOf(INodeFile.java:71

[2016-02-12 06:30] kadaan commented on #532
@ibuenros I think that maybe we can punt on this for a bit until your new config system is in place (or it bubbles up in priority).  What do you think?

[2016-02-12 17:58] ibuenros commented on #532
I don't think they are too related to each other (I may be wrong), but we have no particular rush on this issue, so it is up to you.

[2016-02-12 20:24] #678 closed

[2016-02-12 21:49] sahilTakiar commented on #702
This seems to be a bug, I am working on a fix, but in the mean time I suggest you use an earlier version of the code, e.g. https://github.com/linkedin/gobblin/releases/tag/gobblin_0.6.0

[2016-02-12 22:05] marianomirabelli commented on #702
Thanks! @sahilTakiar

I will start to use the previous version.

Greetings.

[2016-02-12 22:05] #702 closed

[2016-02-12 23:41] sahilTakiar commented on #659
It seems the classpath for `bin/gobblin-standalone.sh` is not set correctly. Can you add the following parameter when launching the `bin/gobblin-standalone.sh` script: `--jars /path/to/jars/`

The `/path/to/jars/` should be the absolute path to all the Gobblin jar dependencies. The jars are located under the `gobblin-dist/lib` folder after you un-tar the `gobblin-distribution-[projectVersion].tar.

[2016-02-12 23:44] #652 closed

[2016-02-12 23:45] sahilTakiar commented on #644
Closing due to inactivity, please re-open if this is still an issue.

[2016-02-12 23:45] #644 closed

[2016-02-12 23:45] sahilTakiar commented on #672
Marking as resolved, let me know if there are still issues.

[2016-02-12 23:45] #672 closed

[2016-02-12 23:48] sahilTakiar commented on #619
Closing, please re-open if you have more questions.

[2016-02-12 23:48] #619 closed

[2016-02-12 23:49] sahilTakiar commented on #666
Closing, please re-open if there are more issues.

[2016-02-12 23:49] #666 closed

[2016-02-12 23:50] sahilTakiar commented on #625
Closing, please re-open if there are more questions.

[2016-02-12 23:50] #625 closed

[2016-02-12 23:50] sahilTakiar commented on #618
Closing, please re-open if there are more questions.

[2016-02-12 23:50] #618 closed

[2016-02-12 23:51] sahilTakiar commented on #615
Fixed in https://github.com/linkedin/gobblin/pull/692

[2016-02-12 23:51] #615 closed

[2016-02-12 23:51] #614 closed

[2016-02-12 23:53] sahilTakiar commented on #545
Is this still an issue?

[2016-02-12 23:53] kadaan commented on #546
This is fixed in #699

[2016-02-12 23:54] sahilTakiar commented on #529
Thank you for reporting the issue @kitmanmcneel

[2016-02-12 23:54] kadaan commented on #545
I think this is fixed now.

[2016-02-12 23:54] #545 closed

[2016-02-12 23:55] kadaan commented on #695
Thanks for the labels.  That really helps.

[2016-02-12 23:56] sahilTakiar commented on #521
Hey @thedrow thats an interesting idea. Do you have a specific use case in mind? For us we see that most of the time the data from a `Source` is usually all in one format.

[2016-02-12 23:57] sahilTakiar commented on #510
@x10ba did you get this working?

[2016-02-12 23:59] sahilTakiar commented on #419
Jars are on Maven, check out the latest release notes: http://linkedin.github.io/gobblin/release/2016/02/01/release-0.6.2.html

[2016-02-12 23:59] #419 closed

[2016-02-13 00:00] sahilTakiar commented on #420
Artifacts are now on Maven, checkout the latest release notes: http://linkedin.github.io/gobblin/release/2016/02/01/release-0.6.2.html

Also, yes that seems the correct way of adding Maven dependency on the Gobblin jars

[2016-02-13 00:00] #420 closed

[2016-02-13 00:01] kadaan opened #707 "Cleanup warnings from build"
The build is chock full of warnings.  We should clean them up.  Here are some of the warnings I have seen:
1. `warning - Tag @link: reference not found: MetricContext.Builder#reportFullyQualifiedNames(boolean)
   javadoc: warning - Error reading file: /home/travis/build/linkedin/gobblin/build/gobblin-data-management/docs/javadoc/package-list`
2. `Note: /home/travis/build/linkedin/gobblin/gobblin-a

[2016-02-13 00:01] #367 closed

[2016-02-13 00:03] kadaan commented on #679
We have a maven project which depends on gobblin-core and gobblin-yarn.  This maven project include our company specific extensions to gobblin.  The dependency tree include multiple versions of the servlet-api.  The two listed above need to be excluded or the admin UI will not start.

[2016-02-13 06:42] thedrow commented on #521
Our ETL process takes configuration files from a lot of sources and parses them with augeas.
In order to do so we need to identify the type of the configuration file.
We can invoke a ruby script using https://github.com/github/linguist to do so or provide the means to do so in a Java library.
If the best solution is to create a source per configuration file type that's also fine but I still think

[2016-02-16 04:42] kadaan opened #709 "Fix intermittently failing tests"
Some tests fail intermittently which cause unreliable travis builds.  These tests should be fixed.  Below is a list of all intermittently failing tests:

[code]

NOTE: The above result is from a Travis build for #705 which includes the failing tests at the end of the build log.

[2016-02-16 19:50] kadaan opened #712 "GobblinYarnAppLauncher tries to send email even if email notification is disabled"
[code]

[2016-02-16 19:50] kadaan commented on #712
I'm claiming this.

[2016-02-17 00:37] kadaan commented on #712
Fixed by #713

[2016-02-17 00:37] #712 closed

[2016-02-17 06:37] kadaan opened #715 "Error when restarting GobblinYarn"
The following error occurs after trying to restart the GobblinYarn driver:

[code]

These are the logs of the driver shutting down prior to restart:

[code]

[2016-02-17 06:49] liyinan926 commented on #715
This happens sometimes. For some reason, the `ZKHelixAdmin` silently fails to fully cleanup the ZK structure corresponding to the Helix cluster instance even if it is configured to do the cleanup before everything else starts up. This causes the Yarn application to fail to start. A workaround is to manually delete the root ZK node `/GobblinYarn`.

[2016-02-17 06:50] kadaan commented on #715
That has been what I do, but it would be good to track this and try to get a solution.

[2016-02-17 06:54] liyinan926 commented on #715
I would suggest reporting this through a bug ticket against Helix. Basically `ZKHelixAdmin` should fail or throw some meaningful exception if it fails to fully cleanup. I believe this is not too hard to fix in Helix.

[2016-02-17 07:07] kadaan commented on #715
Created [HELIX-628](https://issues.apache.org/jira/browse/HELIX-628)

[2016-02-17 15:25] kadaan opened #718 "Publishing fails if same named file exists"
If a file already exists, in the publish location, with the same name as the file being published, then the publish step will fail.  This will result in the workunit being retried on the next run of the job.  This pattern will keep repeating.

I propose that the following methods be changed to overwrite files with the same names:

1. `HadoopUtils.copy()`
1. `HadoopUtils.move()`
1. `HadoopUtils.ren

[2016-02-17 17:41] kadaan opened #719 "Publishing fails due to publish directory tracking"
The implementation of publish directory tracking causes publishing to fail because it is checking the `publisherFileSystemByBranches` for the `src` file.  This is incorrect for two reasons:

1. The file hasn't yet been written to the publish location
2. The check is using the `publishFileSystem` and the `src` file.  This is in incorrect combination.  The correct combination is `publishFileSystem`

[2016-02-17 17:42] kadaan commented on #719
I will fix this

[2016-02-17 19:05] #719 closed

[2016-02-17 21:47] kadaan commented on #715
Also, deleting the root ZK node /GobblinYarn is tricky and might require a number of attempts before it actually works and unblocks the yarn application.

[2016-02-17 22:10] sahilTakiar commented on #718
I think adding a parameter `boolean overwrite` would be good, so that users of this method explicitly know what behavior they are signed up for when invoking the method.

[2016-02-17 22:39] kadaan commented on #718
If I add this, I want to add overwrite=true to the calls from BaseDataPublisher.

[2016-02-17 22:48] sahilTakiar commented on #718
Sure, but maybe we can make it a config option for `BaseDataPublisher` if it overwrites data or not. I would prefer it to be set to false by default so that users don't accidentally overwrite data that already exists.

[2016-02-17 23:56] kadaan commented on #718
Sure

[2016-02-18 01:35] sahilTakiar opened #724 "Allow Users to Submit PRs for Documentation"
Currently, there is no way for outside users of Gobblin to make changes to the wiki. Only the GitHub owners are allowed to do that. There should be an easy way for users to create a PR for changes to the wiki.

Relevant Links:

https://groups.google.com/forum/#!topic/gobblin-users/FuKybhhZh8M
https://github.com/linkedin/gobblin/pull/685

[2016-02-18 01:38] sahilTakiar commented on #724
Some discussion that was done internally:

Notes on Possible Approaches:
* The GitHub wiki is also a git project, git://github.com/linkedin/gobblin.wiki.git
    * Unfortunately, you cannot fork the wiki git repo
    * It is possible to add the wiki git repo as a git submodule, but git submodules have a number of issues that make it hard to deal with
* Many projects don't use the GitHub wiki for th

[2016-02-18 06:40] kadaan commented on #724
One thing to note is that having different branches/repos for code and documentation make it difficult to have a single PR which encompasses an entire feature (code, tests, documentation, etc).  Also, hosting docs on https://readthedocs.org would provide a searchable, version-able place to host documents.  Airflow from AirBnB is an example project which had documentation there.  You can see it at:

[2016-02-18 06:57] kadaan commented on #654
[application_master_obfuscated.txt](https://github.com/linkedin/gobblin/files/135770/application_master_obfuscated.txt)
[container_obfuscated.txt](https://github.com/linkedin/gobblin/files/135771/container_obfuscated.txt)

[2016-02-18 07:01] kadaan commented on #622
@sahilTakiar This is only as useful as you guys are willing and able to participate.  Would something like gitter (https://gitter.im/openzipkin/zipkin) be more up your alley.  It would certainly have less to learn in regards to moderation.

[2016-02-18 07:38] kadaan opened #725 "GobblinHelixJobScheduler creates scheduled jobs without parent properties"
In GobblinHelixJobScheduler, the job config passed to scheduled jobs is different that that passed to non-scheduled jobs.  As you can see in the below code, scheduled jobs do not get the

[code]

[2016-02-18 22:49] #725 closed

[2016-02-19 00:23] sahilTakiar commented on #724
Sphinx and readthedocs seem interesting. Although it seems Sphinx is primarily geared towards documenting Python projects (I believe Airflow is written in Python). However, there is Java integration: http://bronto.github.io/javasphinx/

[2016-02-19 00:58] kadaan commented on #724
Yes, Airflow is python and sphinx was geared to python originally, but there are other non-python projects like Presto which use it.  It seems no less capable as far a documentation is concerned than the GitHub wiki or GitHub pages.  javasphinx seems nice for documenting java apis, but I have no experience with it.  The other proposed documentation approaches also don't handle documenting java api

[2016-02-19 16:55] kadaan commented on #724
Another readthedocs example: http://docs.qubole.com/en/latest/

[2016-02-19 19:09] kadaan opened #729 "LogCopier uses too much CPU"
We are running Gobblin on yarn with 5 nodes and 49 containers, resulting in 98 files to copy.  The LogCopier on the driver ends up running constantly and making the machine run at 50%+ cpu usage.

[2016-02-19 19:23] kadaan commented on #729
<img width="500" alt="screen shot 2016-02-19 at 10 59 37 am" src="https://cloud.githubusercontent.com/assets/1904898/13186442/148d47c6-d6fb-11e5-9900-aa1907ce83d9.png">
<img width="500" alt="screen shot 2016-02-19 at 11 03 59 am" src="https://cloud.githubusercontent.com/assets/1904898/13186445/16903952-d6fb-11e5-944f-3b4e553c8ce1.png">
<img width="500" alt="screen shot 2016-02-19 at 11 05 22 am" s

[2016-02-19 22:29] sahilTakiar commented on #724
I played around this for a while last night and for most of today, and I should have a working version that uses MkDocs and readthedocs.

Some observations:
* I played around with pandoc, sphinx, mkdocs, and readthedocs
* readthedocs seems geared towards sphinx support with MkDocs support added, but not fully integrated, see https://github.com/rtfd/readthedocs.org/issues/978
* Sphinx requires `.rs

[2016-02-19 22:31] ibuenros commented on #724
Does mkdocs support github flavored markdown?

On Fri, Feb 19, 2016 at 2:29 PM, sahilTakiar <notifications@github.com>
wrote:

[2016-02-19 22:33] sahilTakiar commented on #724
@ibuenros it seems it does not have full support for it, I believe it uses Python Markdown, although I am not sure what the difference is: https://github.com/mkdocs/mkdocs/issues/99

[2016-02-19 22:37] sahilTakiar commented on #724
It seems to be possible though: https://github.com/google/py-gfm

Docs on what Python Markdown is: https://pythonhosted.org/Markdown/

[2016-02-19 23:11] kadaan opened #731 "PasswordManager doesn't work when used under gobblin-yarn"
The current implementation is PassowrdManager doesn't work correctly when used under gobblin-yarn. Unless the encryption file is stored on a distributed filesystem, it will not be available to the driver, app master, or container.  The encryption file can be copied to the appmaster and containers by using the gobblin.yarn.app.master.files.local  and gobblin.yarn.container.files.local properties.

[2016-02-19 23:33] krtiwari1981 commented on #656
Same issue here, I attempted to build after cloning using below command and it failed. Build is successful after -x test

./gradlew clean build -PuseHadoop2

Error ----
org.apache.hadoop.util.Shell$ExitCodeException: chown: CORP\Domain: illegal group name

	at org.apache.hadoop.util.Shell.runCommand(Shell.java:505)
	at org.apache.hadoop.util.Shell.run(Shell.java:418)
	at org.apache.hadoop.util.She

[2016-02-19 23:34] krtiwari1981 opened #732 "Build failure after cloning ./gradlew clean build -PuseHadoop2"
I attempted to build after cloning using below command and it failed. Build is successful after -x test

./gradlew clean build -PuseHadoop2

Error ----
org.apache.hadoop.util.Shell$ExitCodeException: chown: CORP\Domain: illegal group name

at org.apache.hadoop.util.Shell.runCommand(Shell.java:505)
at org.apache.hadoop.util.Shell.run(Shell.java:418)
at org.apache.hadoop.util.Shell$ShellCommandExecu

[2016-02-20 00:24] kadaan commented on #724
This seems great. I can't wait!

[2016-02-20 00:57] pcadabam commented on #732
Would you able to add a log statement to log the FileStatus after line 121 in FileAwareInputStreamDataWriterTest.java?
The test basically creates a file on your machine and uses the same user/group information to set at destination.

[2016-02-20 19:51] krtiwari1981 commented on #732
I ran the same  thing again but now from home network instead of work.
./gradlew clean build -PuseHadoop2

The build is SUCCESSFUL. Again I am going to try from work on Monday.

[2016-02-22 01:17] sahilTakiar commented on #724
@kadaan no some of those features will probably not be available. However, Python Markdown provides a number of extensions that can be added that provide features like automatically created Table of Contents: http://pythonhosted.org/Markdown/extensions/

[2016-02-22 02:43] kadaan commented on #724
This sounds like a great place to start and way better than trying to use the github wiki.

[2016-02-22 08:34] kadaan opened #734 "Gobblin Yarn overwrites job start date."
The `GobblinHelixJobLauncher.waitForJobCompletion()` method overwrite the job start time.  This results in all instances of the job being recorded to the history database with the same start time.

[2016-02-22 08:34] kadaan commented on #734
<img width="799" alt="screen shot 2016-02-22 at 12 32 14 am" src="https://cloud.githubusercontent.com/assets/1904898/13213214/14b1d6ba-d8fc-11e5-88e3-0f9505c34286.png">

[2016-02-22 09:00] kadaan commented on #715
@liyinan926 According to `kishore g` from the helix team:

[2016-02-22 23:26] #546 closed

[2016-02-22 23:54] hegu8 opened #738 "Pulling data from Kafka in mapreduce mode failed"
My Gobblin version is 0.6.2, built with hadoop 2.6.0.

I was trying to pull data from Kafka using the settings in the Kafka HDFS Ingestion tutorial, but I got some error:
[code]
Has anyone seen this before?

[2016-02-23 00:46] kadaan commented on #738
What is the value of the `GOBBLIN_WORK_DIR` environment variable?

[2016-02-23 01:12] hegu8 commented on #738
It's /home/hegu/tmp/gobblin-hadoop-2.6.0/work, still having the same issue after removing the dashes and dots

[2016-02-23 01:22] kadaan commented on #738
When I run standalone, I configure the `fs.uri=file:///` and `${env:GOBBLIN_WORK_DIR}=work/gobblin`.  For running in Yarn I use: `fs.uri="hdfs://SERVER.compute-1.amazonaws.com:9000"` and `writer.staging.dir=/work/gobblin/SCHEMA/task-staging`.

What is the value of your `fs.uri`?

[2016-02-23 01:39] kadaan opened #739 "Gobblin Metrics race condition results in metric reporter failing to start"
@ibuenros There is a race condition in the Gobblin Metrics initialization of `ScheduledReporter`.  The problem is the order of the following lines:
[code]

The following stack show the problem:

1. `ScheduledReporter.init<>()`
1. `ContextAwareReporter.init<>()`
1. `RootMetricContext.addNewReporter()`
1. `ContextAwareReporter.start()`
1. `ScheduledReporter.startImpl()`

At this point, `ScheduledRep

[2016-02-23 02:10] kadaan commented on #731
@sahilTakiar @zliu41 Figured out why it wasn't working and have submitted a PR to fix it.

[2016-02-23 03:51] sahilTakiar opened #740 "Fix Usage of FileUtil.copy() and FsStateStore.createAlias() function"
`FsStateStore.createAlias` can leave a partial `current.jst` file if the function is interrupted during the execution of `FileUtil.copy`. Looking at the code in `FileUtil.copy` the code doesn't handle what happens if the copy is interrupted:

[code]

Here are all the places `FileUtil.copy()` is being used:

[code]

[2016-02-23 06:04] zhenglu696 opened #744 "How to compress kafka message data to hdfs?"

[2016-02-23 06:07] zhenglu696 commented on #744
hi,now I want to get data from kafka to hdfs ,I want to konw how to compress data when put data into hdfs process.

[2016-02-23 06:54] sahilTakiar commented on #724
@liyinan926 do you have admin privileges on the GitHub Gobblin project? I want to edit the project settings but they aren't showing up for me. Can you add me?

There should be a settings tab like below:

<img width="803" alt="screen shot 2016-02-22 at 10 52 36 pm" src="https://cloud.githubusercontent.com/assets/1282583/13243908/1a352356-d9b7-11e5-9603-ad50c4c16f3c.png">

But I don't see one:

<img

[2016-02-23 06:58] liyinan926 commented on #724
@sahilTakiar It seems my admin/write access has been revoked. You probably need to check with the owners of the linkedin org.

[2016-02-23 07:22] kadaan opened #745 "GobblinYarnAppLauncher should not stop running applications when stopped."
Currently, when GobblinYarnAppLauncher is started it sets up a shutdown hook which is used as a signal to stop the underlying Yarn application when GobblinYarnAppLauncher.  However, GobblinYarnAppLauncher also has code to reconnecting to a RUNNING Yarn application.  This would allow the driver to to be independently upgraded from the application.  To accomplish this, the shutdown hook will no long

[2016-02-23 07:39] sahilTakiar commented on #724
K thanks Yinan, will consult internally.

Initial version using ReadTheDocs and MkDocs: http://gobblin-sahiltakiar.readthedocs.org/en/readthedocs/

Still working out some formatting and build issues, need to get WebHooks setup too.

[2016-02-23 07:45] kadaan commented on #724
Looking really good!  Any idea why the the bottom left pull-put menu isn't working?

### Gobblin
<img width="336" alt="screen shot 2016-02-22 at 11 43 56 pm" src="https://cloud.githubusercontent.com/assets/1904898/13244850/4b3d6682-d9be-11e5-92d3-4e6fb3d36d91.png">

### Airflow
<img width="403" alt="screen shot 2016-02-22 at 11 43 35 pm" src="https://cloud.githubusercontent.com/assets/1904898/1324

[2016-02-23 08:33] sahilTakiar commented on #724
Thanks!

I haven't pin-pointed the cause yet, but there is some JavaScript error when loading the footer:

[code]

[2016-02-23 08:43] kadaan commented on #724
I see a 404 when loading:
https://readthedocs.org//api/v2/footer_html/?callback=jQuery211033368984144181013_1456216601639&project=gobblin-sahiltakiar&version=readTheDocs&page=index&theme=sphinx_rtd_theme&format=jsonp&docroot=%2Fhome%2Fdocs%2Fcheckouts%2Freadthedocs.org%2Fuser_builds%2Fgobblin-sahiltakiar%2Fcheckouts%2Freadthedocs%2Fgobblin-docs&source_suffix=.md&_=1456216601640

Whereas in airflow

[2016-02-23 16:33] liyinan926 commented on #745
@kadaan sounds like a good idea to me.

[2016-02-23 16:47] sahilTakiar commented on #724
hmm I still need to investigate, there are a few outstanding issues like this I'm trying to resolve before making the PR.

[2016-02-23 16:50] kadaan opened #746 "Gobblin Yarn doesn't write job or task metrics to the JobHistoryDatabase"
@liyinan926 It seems as if task metrics and job metrics are not getting published to the JobHistoryDatabase when running under Gobblin Yarn.  Does the current implementation do this?  If so, what classes deal with this so that I can try to figure out why it is not working?  If not, what is the plan to make this happen?

[2016-02-23 16:58] ibuenros commented on #744
Hi,
We currently only have uncompressed writers implemented in Gobblin. You
will probably have to extend the writer appropriate to your format (you
didn't mention the format, plaintext? avro?) to write into a compressed
file.
Issac

On Mon, Feb 22, 2016 at 10:07 PM, zhenglu696 <notifications@github.com>
wrote:

[2016-02-23 17:51] ydai1124 commented on #746
@kadaan Did you enable these two options: `job.execinfo.server.enabled` and `job.history.store.enabled`?

[2016-02-23 18:11] kadaan commented on #746
Yes, they are enabled. Executions/properties are getting reported.  I recently changed the DatabaseStore class, but I have verified (by debugging) that no metrics are available to be written to the database.

Here is the pertinent config:
[code]

[2016-02-23 18:26] kadaan commented on #746
I think it is related to my fix for #739. Still investigating.

[2016-02-23 18:35] hegu8 commented on #738
I overwrite `writer.staging.dir` to point to a dir in hdfs and it worked, thank you so much!

[2016-02-23 18:35] #738 closed

[2016-02-23 18:37] ydai1124 commented on #746
Checked my past executions, and I do see job level metrics get written to JobHistoryDatabase. But not task level metrics. Investigating.

[2016-02-23 19:01] kadaan commented on #746
My guess is task  metrics are not reported from the containers back to the app master

Sent from my iPhone

[2016-02-23 19:04] liyinan926 commented on #746
@kadaan @ydai1124 yes, task metrics are not currently reported back to the app master.

[2016-02-23 19:49] kadaan commented on #746
If they Were to be reported, how would we do it?  Via task state files?  Via new metric files?  Something else?

[2016-02-23 21:31] kadaan commented on #746
This was broken locally by one of my changes that was fixing a different issue.  I am going to open up an issue to track reporting task metrics to the job history db.

[2016-02-23 21:31] #746 closed

[2016-02-23 21:33] kadaan opened #748 "Task metrics are not saved to Job History Database when running under Yarn"
Task level metrics are not transmitted from the containers that tasks are running on back to the app_master.  This means that task level metrics cannot be saved in the Job History Database.  We should be able to store the task level metrics in the Job History Database just like when we run a standalone job.

[2016-02-23 21:38] ydai1124 commented on #746
@kadaan We are deprecating the Job/Task metrics you are using. It is better to switch to Gobblin Metrics: https://github.com/linkedin/gobblin/wiki/Gobblin%20Metrics%20Architecture. It has more contents and more stable. But we don't have the reporter to report to database yet. You can implement your own reporter: https://github.com/linkedin/gobblin/wiki/Implementing%20New%20Reporters.

[2016-02-23 21:41] kadaan commented on #746
Hmmmm.  I don’t really want them, but there are a couple of UI elements which depend on values from the job metrics.  Can you update #748 with this information?

[2016-02-23 21:42] ydai1124 commented on #748
@kadaan We are deprecating the Job/Task metrics you are using. It is better to switch to Gobblin Metrics: https://github.com/linkedin/gobblin/wiki/Gobblin%20Metrics%20Architecture. It has more contents and more stable. But we don't have the reporter to report to database yet. You can implement your own reporter: https://github.com/linkedin/gobblin/wiki/Implementing%20New%20Reporters.

[2016-02-23 21:42] ydai1124 commented on #746
Just saw the newly opened one. Pasted the previous comment there.

[2016-02-24 00:07] sahilTakiar commented on #748
@kadaan is this bug blocking the deployment of the `JobHistoryStore` or are you actually interesting in viewing the `TaskMetrics`? Just want to understand where the bug is.

AS @ydai1124 mentioned we are moving away from `TaskMetrics` and `JobMetrics`, and at some point we want to remove the current way `TaskMetrics` and `JobMetrics` are written to the `JobHistoryStore`.

[2016-02-24 00:09] kadaan commented on #748
No, it is not blocking anything.

[2016-02-24 00:59] sahilTakiar commented on #729
* What tool are you using to generate these images?
* There doesn't seem to be a config parameter to control the sync interval, which is 2 minutes by default. 2 minutes seems pretty long so not sure this is the issue
* The `LogCopier` reads each line in the log file into a `String` and then writes it to the destination, it may be more efficient to just do a raw byte level copy
    * It does this s

[2016-02-24 01:58] kadaan commented on #729
@sahilTakiar This was captured using YourKit. The majority of the time is taken in the ScheduledThreadPoolExecutor. I replaced it with HashedWheelTimer and the performance is way better. I will try to reproduce again and add more details. What else would you like to know?

[2016-02-24 02:59] zhenglu696 commented on #744
hi, ibuenros;
   we log format is plaintext。

[2016-02-24 03:18] zhenglu696 opened #751 "How to ensure kafka log data integrity？"
hi,
I now with an example of a website, run our Kafka log, the log of our Kafka has 128 partitions, I use 128 mapper to run task, our data is very big, so I set the execution time 15 minutes of each task,  ,but I found ths every time our get hdfs result is not integrity. for example ,frist time ,I got  frist time partition 10 offset from 100000 to 90000,but after 15 minutes ,I got hdfs partitions

[2016-02-24 18:28] x10ba commented on #510
Hi,
I re-compiled gobblin from source, but I get this error now:

Mac os
// run this
./gobblin-standalone.sh start

// get this error
Error: Environment variable JAVA_HOME not set!

// my JAVA_HOME is set in .bash_profile and via Environment Variables plugin

[2016-02-24 18:47] asrayousuf opened #754 "Gobblin Lock deleted after second scheduled run"
When the gobblin lock is enabled, and the job is scheduled to run every 15 min., this is an example of a scenario I have observed:

00- 1st Gobblin Job starts. Lock file gets created in lock-dir
15- 1st Gobblin Job is still running. 2nd scheduled job does not run post which the lock file gets deleted even if the 1st Job is running
30- 1st Job is still running. 3rd Job starts since no lock file exi

[2016-02-24 19:00] kadaan commented on #754
@asrayousuf I noticed the same thing locally while working on a feature to cause gobblin jobs to skip rather then fail when they are already locked.  I'll be submitting a PR today for that feature. If taken, it should address this issue.

[2016-02-25 03:09] sahilTakiar commented on #754
Hey, @asrayousuf that sounds like a bug. Thanks @kadaan for working on the PR.

[2016-02-25 03:11] sahilTakiar commented on #751
Hey @zhenglu696 I am not sure I fully understand the problem, can you elaborate a little more and provide a few more details? Thanks

[2016-02-25 04:19] sahilTakiar commented on #739
Good catch. Looks like this will only come up if `RootMetricContext.addNewReporter` is invoked after `startReporting` is invoked (because of the flag `RootMetricContext.reportingStarted`), which is probably why we have never seen this before. Should definitely be fixed because we should be able to add reporters even after reporting has started.

[2016-02-25 07:49] zhenglu696 commented on #751
hey,@sahilTakiar,I have the following questions:

1, In the configuration file, I have configured the execution time of each task, such as configuration for fifteen minutes,eg:
       extract.limit.enabled=true
extract.limit.type=time
extract.limit.time.limit=15
extract.limit.time.limit.timeunit=minutes

I configure the Kafka pull strategy is: earliest if 15 minutes it is not executed after the of

[2016-02-25 07:59] zhenglu696 commented on #751
hey,@sahilTakiar,I have the following questions:

1, In the configuration file, I have configured the execution time of each task, such as configuration for fifteen minutes,eg:
extract.limit.enabled=true
extract.limit.type=time
extract.limit.time.limit=15
extract.limit.time.limit.timeunit=minutes
I configure the Kafka pull strategy is: earliest;
 The task is not performed in 15 minutes, When I run

[2016-02-25 08:28] kadaan commented on #729
I'm going to submit a PR with the ability to switch between two different scheduler: ScheduledThreadPoolExecutor and HashedWheelTimer.

[2016-02-25 11:30] sdikby opened #761 "load XML Files from SFTP server into HDFS"
Now gobblin work in map-reduce mode but unfortunately i could not get my xml files.
Here the content of gobblin-current.log :

2016-02-25 12:09:42 CET INFO  [main] org.apache.hadoop.conf.Configuration  996 - mapreduce.user.classpath.first is deprecated. Instead, use mapreduce.job.user.classpath.first
2016-02-25 12:09:42 CET WARN  [main] gobblin.runtime.JobContext  242 - Property task.data.root.dir

[2016-02-25 11:53] madhukotagiri commented on #659
the above problem was resolved by rebuilding the entire code with new version

how to use this module
https://github.com/linkedin/gobblin/tree/master/gobblin-hive-registration
to pull the data from rdbms and dump in to hive

is there any example extractor ?

[2016-02-25 13:37] sdikby opened #762 "Gobblin mapreduce job failed"
I have succeeded in connectig to my SFTP sever but after a couple of minutes it shows that this gobblin-metastore-0.6.2-133-g84c12a0.jar does not exists.

gobblin-current.log :

2016-02-25 14:25:23 CET INFO  [main] org.apache.hadoop.conf.Configuration  996 - mapreduce.user.classpath.first is deprecated. Instead, use mapreduce.job.user.classpath.first
2016-02-25 14:25:24 CET WARN  [main] gobblin.ru

[2016-02-25 17:06] ibuenros commented on #761
Hello,
It seems the sftp server rejected your connection. There can be a number of
reasons for this, for example your credentials might be wrong. Something I
notice with your configuration is that you are using port 21. Port 21 is
usually used for FTP, but you are trying to connect via SFTP (usually port
22). Is your server an SFTP server? Was it explicitly set to use port 21?
Note that currently

[2016-02-25 17:40] sahilTakiar commented on #729
Thanks for the info. So based on the YourKit analysis, the issue is with `ScheduledThreadPoolExecutor.getTask()` taking up a lot of CPU, is that correct? If so I agree replacing it something more efficient makes sense. Is the `HashedWheelTimer` you are referring to the one from Netty?

Is the change you plan to make going to control all current uses of `ScheduledThreadPoolExecutor`, or just the on

[2016-02-25 17:46] kadaan commented on #729
@sahilTakiar,

1. Yes, that is what it seemed like
2. It is the HashedWheelTimer from netty.
3. I plan on creating the following in utils/concurrent:

[code]

There will be two concrete implementations: ScheduledThreadPoolExecutor and HashedWheelTimer.  For now, I'm only going to replace the usage in LogCopier.  I'm going to add a config option to switch between the two implementations which will

[2016-02-25 18:21] sahilTakiar commented on #729
I think we could just remove `ScheduledThreadPoolExecutor` from the `LogCopier` and just use `HashedWheelTimer`; this will save some effort and avoid introducing another config option. From the Netty docs, `HashedWheelTimer` does seem to be more efficient: http://netty.io/wiki/using-as-a-generic-library.html#wiki-h3-12 although I haven't researched it extensively.

@ibuenros any thoughts on this?

[2016-02-25 18:29] sahilTakiar commented on #762
Do you have `framework.jars`, `job.jars`, `job.local.files`, or `job.hdfs.files` set anywhere in your `.pull` or `.properties` file?

[2016-02-25 18:29] sahilTakiar commented on #761
Closing, based on https://github.com/linkedin/gobblin/issues/762 this has been resolved.

[2016-02-25 18:29] #761 closed

[2016-02-25 18:33] sahilTakiar commented on #751
@zliu41 correct me if I am wrong

1: The first run will pull from the earliest offsets. Let's say it pulled data from `[earliest, x]`. assuming the first run completed with no failures, the second run will pull from offsets `(x, y]` automatically.
2: Is it possible that some of the Kafka partitions have no data? This could explain why some map tasks don't write any files.

[2016-02-25 18:34] ibuenros commented on #729
It sounds good to me. I don't know much about `ScheduledThreadPoolExecutor` vs `HashedWheelTimer`, are there any advantages to the former? I am fine with completely removing `ScheduledThreadPoolExecutor` if it has no advantages.

I also like the `TaskScheduler` suggested by @kadaan.

[2016-02-25 20:16] sahilTakiar commented on #724
Post Commit Webhooks work, push to the `readthedocs` branch now automatically trigger a build.

Couldn't find out why the ReadTheDocs footer is not loading so opened an issue the ReadTheDocs GitHub page: https://github.com/rtfd/readthedocs.org/issues/2015

[2016-02-25 20:21] kadaan commented on #729
I think I'm still going to go with my plan for now.  It will let me get done in a backwards compatible way.  As soon as we are comfortable with the HashedWheelTimer version we can make it the default.  Then later, we can delete the ScheduledThreadPoolExecutor version.

[2016-02-25 20:27] sahilTakiar opened #763 "JobContext uses FsDatasetStateStore instead of StateStore"
The `JobContext` class is tied to a specific implementation of the `StateStore` interface called `FsDatasetStateStore`. It uses this implementation to get the `State` from the previous execution. This is problematic as Gobblin is now tied to `FsDatasetStateStore`, whereas it should only work with `StateStore`.

[2016-02-25 21:28] sdikby commented on #762
@sahilTakiar  here my .pull file that i use to lunch my gobblin MR job :

job.name=SftpDistcp
job.group=Distcp
job.description=Job to copy data from sftp to hdfs

# Source properties
source.filebased.fs.uri=sftp://****@134.106.13.145:22
source.class=gobblin.data.management.copy.CloseableFsCopySource
source.conn.private.key=~/.ssh/id_rsa
source.conn.username=****
source.conn.password=****
source.co

[2016-02-26 00:33] sahilTakiar commented on #762
I see can you send a list of the files under `gobblin-dist/lib`

Basically, the error is saying it is looking for the following file on your HDFS cluster and cannot find it: `hdfs://localhost:54310/usr/local/gobblin/gobblin-dist/lib/gobblin-metastore-0.6.2-133-g84c12a0.jar`

You could manually copy it to that location in order to un-block yourself.

[2016-02-26 00:57] zhenglu696 commented on #751
@sahilTakiar  @zliu41
The first run will pull from the earliest offsets.  this is Ok. I think the frist time offset is  [earlist,X],
X is the current time this task read the newest offset,but in I run this task 15minites,in this times,the  task is not performed ,eg :this task pull[earliest,Y],I want to konw the secnond run this task ,it begins
X or Y ????
thinks !!!!!

[2016-02-26 08:41] sdikby commented on #762
@sahilTakiar I would copy it if i could find it. this `gobblin-metastore-0.6.2-133-g84c12a0.jar` does not exists.
Here the list of jars under `gobblin-dist/lib ` :

activation-1.1.1.jar
ant-1.9.1.jar
ant-launcher-1.9.1.jar
antlr-runtime-3.5.2.jar
aopalliance-1.0.jar
apache-log4j-extras-1.2.17.jar
asm-3.1.jar
asm-commons-3.1.jar
asm-tree-3.1.jar
avro-1.7.7.jar
avro-ipc-1.7.7.jar
avro-ipc-1.7.7-test

[2016-02-26 09:34] rahulmittal91 opened #765 "Gobblin metrics schema registry is not compatible with Confluent schema registry"
Hello , KafkaAvroSchemaRegistry provides a implementation where **id** is String and Confluent schema registry uses **id** as integer .
Also in KafkaAvroEventReporter the serializer that it returns is always of type AvroSerializer which I think should be injectible , as I dont want to write a new KafkaAvroEventReporter and use the same with , new implementation of SchemaRegistry

[2016-02-26 15:53] ibuenros commented on #765
Hello,
Is there a reason you can't extend KafkaAvroSchemaRegistry to handle this
difference in id type? It could do the conversion between String and int
internally.
Also, I don't understand the issue with the AvroSerializer, it is simply
intended to serialize Avro using any avro serializer and any
SchemaVersionWriter. What are you trying to achieve that can't be achieved
through this?
Issac

On F

[2016-02-26 18:10] sahilTakiar commented on #739
Fixed in https://github.com/linkedin/gobblin/pull/747

[2016-02-26 18:15] sahilTakiar commented on #762
Can you send me the exact command you are using to launch this job?

[2016-02-26 18:24] sahilTakiar commented on #751
Kafka only deals with offsets, not with timestamps. Each offset corresponds to a single record. So you pull data from offset `x` to offset `y`. Kafka is agnostic to the timestamp of each record. The `extract.limit.time.limit` only controls how long Gobblin Tasks will spend trying to consume data from a topic.

The first run will pull data from the earliest offset to some offset `x` where `x` is `>

[2016-02-26 19:12] sahilTakiar commented on #739
@kadaan re-opening this because #747 is causing a FindBugs warning to be triggered:

[code]

I think the solution is to add `synchronized` to the method `ensureMetricFilterIsInitialized`

[2016-02-26 19:56] rahulmittal91 commented on #765
Hi ,

There is no issue with AvroSerializer . The confusion I have is in KafkaAvroEventReporter . Here SchemaVersionWriter is always tied to SchemaRegistryVersionWriter . And I cannot change that without extending KafkaAvroEventReporter class which I dont want to .

I can extend KafkaAvroSchemaRegistry but was a bit skeptical in type safety , as I wanted to use a version of CachedSchemaRegistryCli

[2016-02-26 20:21] hegu8 opened #769 "Pulling messages of different topics from Kafka and merge them into one directory in HDFS"
Is there a way to config the job so that messages of different topics in Kafka get pulled and merged into one single directory for all topics, instead of one directory per topic?

For example, I now have a job that pulls data from Kafka, partitions them hourly and dumps onto HDFS, the directories in HDFS created by the job looks like:

[code]

As you can see, the data are partitioned into differen

[2016-02-26 20:47] kadaan opened #770 "Enabled FindBugs and CheckStyle on Travis builds"
To ensure PR as correct as possible, both FindBugs and Checkstyle should be enabled on Travis builds.  Additionally, they should be either enabled by default on local builds, or easily enabled.

[2016-02-26 22:02] sdikby commented on #762
I have written the follwing bash script to make the things easier for me, because right now i want only to ingest xml files ito hdfs nothing more:

#!/bin/bash

export GOBBLIN_WORK_DIR=/usr/local/gobblin/SFTP_HDFS/work_dir
export HADOOP_BIN_DIR=/usr/local/hadoop/bin
export GOBBLIN_JOB_CONFIG_DIR=/usr/local/gobblin/SFTP_HDFS/config

cd /usr/local/gobblin/gobblin-dist

./bin/gobblin-mapreduce.sh --c

[2016-02-26 22:48] sahilTakiar commented on #739
Fixed in https://github.com/linkedin/gobblin/pull/771

[2016-02-26 22:48] #739 closed

[2016-02-28 02:25] #740 closed

[2016-02-28 02:25] sahilTakiar commented on #740
Fixed in: https://github.com/linkedin/gobblin/pull/741

[2016-02-28 05:23] #731 closed

[2016-02-29 07:31] zhenglu696 commented on #751
Hi,@sahilTakiar @zliu41,
Thank you for your answer!
I also have some questions as follows :

1. if I set mapper.nums equals to kafka.topic.partition.nums, then whether each mapper consume a specific partition of the topic? if mapper.nums bigger than partitions.nums, for example 256 mappers ,I  want to konw  what will other mappers do?

2. Where is the consumption offset storage in? If my job faile

[2016-02-29 21:38] chanllen opened #776 "Retry failed even when it succeed in TaskRetryExecutor level"
The TaskRetryExecutor will be failed even if it succeed in all steps actually.
Let me take the SimpleJsonJob under gobblin.example.simplejson as an example.
I change the extractor code in order to throw IOException the first time we call it. So the code is as below. (Change is made in the readRecord() function)

[code]

And then I run the job, it fails the retry even if it passes all the steps. In

[2016-03-01 03:01] kadaan opened #778 "ParallelRunner.movePath semantics broken by #741"
It is no longer a move, it is a copy.

[2016-03-01 09:48] krtiwari1981 opened #779 "Running gobblin on mapreduce mode ..error"
Below is the command i used to run

./gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull

below is the error

./gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/ec2-user/gobblin-dist/lib/slf4j-log4j12-1.7.5.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file

[2016-03-01 15:57] kadaan commented on #779
Most times `java.lang.NoSuchMethodError: org.apache.hadoop.net.NetUtils.createSocketAddr(Lorg/apache/hadoop/conf/Configuration;Ljava/lang/String;)Ljava/net/InetSocketAddress;` means there is a mismatch between what jars gobblin is expecting and the jars in the classpath.  Can you figure out what versions on hadoop-common is in your classpath?  Also, I wasn't able to find any version/flavor of hado

[2016-03-01 16:44] kadaan opened #781 "FsRenameCommitStep.execute doesn't perform same steps as ParallelRunner.movePath"
When exactly-once job publishing is enabled `FsRenameCommitStep` is used to ensure that the files make it to the destination.  However, it doesn't result in the same state as the method used when exactly-once job publishing is disabled: `ParallelRunner.movePath`.  The `ParallelRunner.movePath` method both moves the path and sets the group, but `FsRenameCommitStep.execute` only moves the file.
###

[2016-03-01 19:04] krtiwari1981 commented on #779
The version is hadoop-yarn-server-common-2.6.0-qds-0.4.0-SNAPSHOT.jar and hadoop-yarn-common-2.6.0-qds-0.4.0-SNAPSHOT.jar.

Also before this i had encountered the issue
Exception in thread "main" java.io.FileNotFoundException: File /home/ec2-user/gobblin-dist/lib/gson-2.3.1.jar does not exist.

and

Exception in thread "main" java.io.FileNotFoundException: File /home/ec2-user/gobblin-dist/lib/joda

[2016-03-01 20:06] kadaan commented on #779
This is definitely a classpath issue. Qubole has modified their version of the Hadoop libraries and you will be bitten unless you make sure they are first in the class path.

[2016-03-01 23:53] krtiwari1981 commented on #779
This is fixed after changes in class path

[2016-03-01 23:53] #779 closed

[2016-03-01 23:54] kadaan commented on #779
@krtiwari1981 Can you please explain what the specific changes were to assist anyone else trying to run on qubole?

[2016-03-02 01:28] krtiwari1981 opened #782 "Fork not working"
I am trying to enable fork but it doesn't seem to work for me. Below is the change i did in pull file. If i remove these changes everything works. Any idea, am i missing something?

fork.branches=2

writer.fs.uri.0=hdfs:/hostname:9000
writer.destination.type.0=HDFS
writer.output.format.0=txt
writer.staging.dir.0=gobblin/example/task-staging/purged
writer.output.dir.0=gobblin/example/task-output/pu

[2016-03-02 04:56] sahilTakiar commented on #762
@sdikby sorry for the delay, did you ever get this resolved? You may be able to fix this by adding `--jars gobblin-dist/lib` to your invocation of `bin/gobblin-mapreduce.sh`

[2016-03-02 04:59] sahilTakiar commented on #769
hey @hegu8 so is your desired format as follows:

[code]

I'm not sure this is currently possible, I will @zliu41 confirm though.

[2016-03-02 05:46] sahilTakiar commented on #776
@chanllen thanks for doing the investigation for this, it does look like a bug

[2016-03-02 06:07] zliu41 commented on #769
@hegu8 currently it's not possible to put data from all topics together. To do so you'll need to modify `WriterUtils.getWriterFilePath` and add a 3rd option besides `TABLENAME` and `default`, for example `case EMPTY: return new Path(".");`.  Then in your job config, set `writer.file.path.type=empty`. That will work.

[2016-03-02 07:09] kadaan opened #784 "AdminUI performs too many requests when "update" is pressed"
After using the AdminUI for a while and navigating from the overview, to job information, to job details, and back, the "update" button causes too many requests.  The "update" button should only be updating the information for the current page, but in this case it is making requests for data for all previous pages as well.

[2016-03-02 07:57] kadaan opened #785 "AbstractJobLauncher leaks metrics reporters when job cannot lock"
@sahilTakiar AbstractJobLauncher can cause a leak of metrics reports when jobs fail to get the job lock because the metrics reporting is started, but JobException thrown when failing to get the lock causes metrics reporting to not get stopped.

[code]

[2016-03-02 13:07] madhukotagiri opened #786 "I am getting gradle building issue"
Gradle building issue:

Parallel execution with configuration on demand is an incubating feature.
fatal: Not a git repository (or any of the parent directories): .git

FAILURE: Build failed with an exception.

* Where:
Build file 'D:\gradle\example source\gobblin-master\build.gradle' line: 63

* What went wrong:
A problem occurred evaluating root project 'gobblin-master'.

* Try:
Run with --stackt

[2016-03-02 13:52] kadaan commented on #781
@zliu41 you might want to look at this one

[2016-03-02 15:30] sdikby commented on #762
@sahilTakiar This time it shows that `hdfs://localhost:54310/usr/local/gobblin/gobblin-dist/lib` does not exists. Following is the Gobblin log content:

2016-03-02 16:14:49 CET INFO  [main] org.apache.hadoop.conf.Configuration  996 - mapreduce.user.classpath.first is deprecated. Instead, use mapreduce.job.user.classpath.first
2016-03-02 16:14:49 CET WARN  [main] gobblin.runtime.JobContext  242 - P

[2016-03-02 16:12] zliu41 commented on #786
what is in your "gobblin-master" folder? If it contains a "gobblin" folder, you need to cd to that folder to build.

[2016-03-02 16:20] krtiwari1981 commented on #779
The issue is resolved by putting hadoop-common-2.6.0-qds-0.4.0-SNAPSHOT.jar in lib directory of gobblin.

[2016-03-02 16:20] zliu41 commented on #781
Good catch. It's an easy fix but we'll probably do some surgery to exactly-once in the next few weeks so this will be fixed as part of that.

[2016-03-02 17:42] estol opened #787 "Missing jars at job launch"
Hi,

whenever I try to launch a Gobblin job I get the following error message:

WARNING: Use "yarn jar" to launch YARN applications.
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/usr/whatever/Product/gobblin/lib/slf4j-log4j12-1.7.12.jar!/org/slf4j/impl/StaticLoggerBinder.class]
SLF4J: Found binding in [jar:file:/usr/hdp/2.3.2.0-2950/hadoop/lib/slf4j-log4j12

[2016-03-02 19:57] sahilTakiar commented on #785
Thanks for reporting the issue, looks like a bug.

[2016-03-02 20:10] kadaan commented on #785
@sahilTakiar There is more to it than this.  Still looking into it.

[2016-03-02 22:59] sahilTakiar commented on #724
Initial PR: https://github.com/linkedin/gobblin/pull/788

[2016-03-03 01:22] sahilTakiar commented on #787
Are you using `bin/gobblin-mapreduce.sh`? If so you need to manually modify the script, specifically line 143 where `gson-2.3.1` is specified.

We have an Issue open about fixing this: https://github.com/linkedin/gobblin/issues/693

[2016-03-03 01:22] sahilTakiar commented on #693
This keeps on happening, we should prioritize this: https://github.com/linkedin/gobblin/issues/787

[2016-03-03 05:35] madhukotagiri commented on #786
my code directery path is: /opt/buildGobblin/gobblin

./gradlew clean build
Parallel execution with configuration on demand is an incubating feature.

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'gobblin'.

     Required by:
         :gobblin:unspecified

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --de

[2016-03-03 09:01] madhukotagiri commented on #786
the error was gone getting below error:

Iam trying to build the gobblin

**/opt/path/to/gobblin

Cd /opt/path/to/gobblin**

**./gradlew clean build**

./gradlew clean build
Parallel execution with configuration on demand is an incubating feature.
fatal: Not a git repository (or any of the parent directories): .git

FAILURE: Build failed with an exception.

* Where:
Build file '/opt/path/to/gobbli

[2016-03-03 10:01] estol commented on #787
Yes, it is running with the gobblin-mapreduce.sh.

Will try it.

Thanks for the help (-:

[2016-03-03 17:19] kadaan commented on #785
@sahilTakiar This issue correctly fixes the described but, but there are a number of others which affect Gobblin on Yarn.  I will open another issue to track those.

[2016-03-03 18:19] kadaan opened #792 "Reporting metrics on Gobblin Yarn causes App_Master to crash."
@zliu41 @sahilTakiar @liyinan926 As far as I can tell, there are major issues around metrics and running gobblin under yarn:
### 1. Reporter Leak - SEVERE

_Metric reporters are constantly added to the system and never removed._

On the app_master when the Quartz timer fires of a job, `AbstractJobLauncher.launchJob(JobListener)` is called.  Right away, this calls `GobblinMetrics.startMetricReporti

[2016-03-03 18:32] chanllen commented on #776
@sahilTakiar No problem. Thank you for your quick response!

[2016-03-03 20:02] sahilTakiar commented on #792
@kadaan thanks a ton for reporting and writing all this up. From what I can tell these all seem to be pretty serious issues.

It seems there may have a disconnect between the job execution model on YARN and how gobblin-metrics starts, stops, and manages metrics.

I will bring this up with the team today and see if we can create a plan of action.

[2016-03-04 17:09] sahilTakiar commented on #782
Being discussed in: https://groups.google.com/d/topic/gobblin-users/1ig4_weF_HY/discussion

[2016-03-04 17:09] #782 closed

[2016-03-04 17:12] sahilTakiar commented on #786
Try adding `-Pversion=gobblin_0.6.2-180-g5a11598` to your build command.

[2016-03-04 17:13] madhukotagiri commented on #786
Can you explain me clear ly
On 04-Mar-2016 10:42 PM, "sahilTakiar" <notifications@github.com> wrote:

[2016-03-04 17:36] sahilTakiar commented on #786
Try running `./gradlew clean assemble -Pversion=gobblin_0.6.2-180-g5a11598`

[2016-03-06 03:53] sahilTakiar commented on #776
Fix available: https://github.com/linkedin/gobblin/pull/797

[2016-03-06 20:17] sahilTakiar opened #798 "Add JaCoCo and Coveralls Integration"
* Gobblin should have JaCoCo integration for code coverage
* It should also integrate with Coveralls which provides code coverage analysis

[2016-03-07 07:20] madhukotagiri commented on #786
works fine with above option
thank you.

[2016-03-07 07:20] #786 closed

[2016-03-07 07:41] madhukotagiri opened #800 "Please let me know about Gobblin below querys?"
Hi Thank you very much for your support.

Please let me know the below questions.

1)  what is Gobblin Hive Registration.
     are you implemented equivalent schema creation of RDMS to Hive?(like sqoop in cloudera)

2) Is Gobblin support incremental data ?
   we have created one sample configuration file  with cron job and tried with below tags
  extract.table.type=append_only , snapshot_append,si

[2016-03-07 17:40] sahilTakiar commented on #792
I am actively working on this. High level design is to introduce a `ApplicationLauncher` that can `start` and `stop` an application. A `BaseApplicationMaster` will control starting and stopping of metrics reporting as well as a set of core `Service`s (`JMXReporter`, etc.) and pluggable `Service`s (`JobScheduler`, `YarnService`).

[2016-03-07 17:46] kadaan commented on #792
@sahilTakiar Great!  That is kinda how I was thinking it should work.  BTW, at least one of the reporters is job specific, FileReporter.  The reason it is job specific is because it writes to a different file per job.  To me this seems to indicate that there are either:

1. Two different kinds of reporters, global and local.  Globals can be added at application startup, while local can be added at

[2016-03-07 19:05] kadaan opened #802 "addShutdownHook is causing a leak"
@sahilTakiar As far as I can tell, the addition of shutdown hooks are causing a leak: [oom_heapdump_Leak_Suspects.zip](https://github.com/linkedin/gobblin/files/161907/oom_heapdump_Leak_Suspects.zip)

[2016-03-07 19:27] sahilTakiar commented on #802
hmmm, this is Gobblin on YARN right? I'm guessing this was introduced in: https://github.com/linkedin/gobblin/pull/741

`AbstractJobLauncher` adds a new shutdown hook for each job. Since Gobblin on YARN is continuously running these shutdown hooks never get invoked when a job completes. The fix is to move this shutdown hook to the `ApplicationLauncher`. I will take care of this as part of the work

[2016-03-07 19:30] kadaan commented on #802
Yes. It also seems to be important to call `remoteShutdownHook`.

[2016-03-07 19:31] sahilTakiar commented on #792
Thanks @kadaan! I need to think about item number 3 a little more. I think the work will be orthogonal to the changes for introducing the `ApplicationLauncher` so I am going to address them in different PRs.

Yes, the notes you listed sounds reasonable. I will circle back with this Issue once I have a better idea of what to do.

[2016-03-07 22:26] krtiwari1981 opened #804 "Failing to create a Orc format file"
hello,

I am working on creating orc file as the output file but with no luck.

I tried to set the below conf for the branch

writer.builder.class.0=gobblin.writer.HiveWritableHdfsDataWriterBuilder
writer.writable.class.0=org.apache.hadoop.hive.ql.io.orc.OrcSerde
writer.output.format.class.0=org.apache.hadoop.hive.ql.io.orc.OrcOutputFormat

but the MR job errors out with the following error

java.

[2016-03-07 22:28] sahilTakiar commented on #709
I would be nice if we could see the stability of each individual test. How frequently does it fail? How many times has in failed in the last 10 builds? etc.

Seems Jenkins has a plugin like this: https://wiki.jenkins-ci.org/display/JENKINS/Test+stability+plugin

Couldn't find anything similar for GitHub or Travis.

[2016-03-07 23:12] kadaan commented on #709
Wonder if something like http://junitth.sourceforge.net would work?

[2016-03-08 00:50] krtiwari1981 opened #807 "Partitioner not creating folder according to WriterPartitioner"
I implemented WriterPartitioner

 assembler = assembler.name("year").type(Schema.create(Schema.Type.STRING)).noDefault();
        assembler = assembler.name("month").type(Schema.create(Schema.Type.STRING)).noDefault();
        assembler = assembler.name("day").type(Schema.create(Schema.Type.STRING)).noDefault();
        assembler = assembler.name("hour").type(Schema.create(Schema.Type.STRING)).noD

[2016-03-08 03:23] sahilTakiar commented on #807
Can you make sure you are setting `data.publisher.job.type` to `gobblin.publisher.TimePartitionedDataPublisher`

[2016-03-08 03:26] sahilTakiar commented on #804
Can you please send the full stack trace? A full copy of the logs would be even better.

[2016-03-08 03:32] sahilTakiar commented on #800
1. Are you referring to the `gobblin-hive-registration` module? It is still under active development, but it provides automatic registration of data into Hive. So everytime a dataset is published, it gets registered with the Hive metastore as an EXTERNAL table. Note this is different from directly writing data into Hive (https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageM

[2016-03-08 04:32] krtiwari1981 commented on #807
Thanks so much. The issue is resolved after changing the config of data.publisher.type
to gobblin.publisher.TimePartitionedDataPublisher

[2016-03-08 04:32] #807 closed

[2016-03-08 05:20] madhukotagiri commented on #800
1) is not clear to me.
    i want to execute the gobblin job same like sqoop.
  means : a) pull the schema and along with data from rdbms
                b)create equalent schema in hive with external table
                c) and dump the data into hive(total 3 steps with gobblin job).

[2016-03-08 05:26] madhukotagiri commented on #800
below is the pull file :

#=========================================================================
# Job properties
#=========================================================================
job.name=LatestSql
job.group=LatestSql
job.description=Data pull from MySql Latest one
job.schedule=0 0/1 * * * ?
job.execinfo.server.enabled=true

job.history.store.url=jdbc:mysql://ipaddress/database
job.h

[2016-03-08 06:06] sahilTakiar commented on #800
* Try setting `extract.is.full` to `false`. That should trigger the incremental extract.
* To register data into Hive set `data.publisher.task.type` to `gobblin.publisher.BaseDataPublisher` and `data.publisher.job.type` to `gobblin.publisher.HiveRegistrationPublisher`
    * Depending on the output format of your data, you may need a new implementation of `HiveRegistrationPolicy`

[2016-03-08 06:15] sahilTakiar commented on #734
Closing as this was fixed a while ago

[2016-03-08 06:15] #734 closed

[2016-03-08 06:18] sahilTakiar commented on #659
Closing as https://github.com/linkedin/gobblin/issues/800 has been opened to address remaining questions

[2016-03-08 06:18] #659 closed

[2016-03-08 06:36] sahilTakiar opened #809 "Consider migration away from google-groups"
Not a huge fan of how discussion for Gobblin is split between Google Groups and GitHub issues:
- The Google Groups integration with GitHub isn't great
- It would be nice to have a unified labeling standard so we can see what users really care about
- Agree with a lot of these comments made here: https://github.com/grafana/grafana/issues/1281

A quick googling suggests https://groups.io/ could be a

[2016-03-08 06:53] kadaan commented on #809
I agree something other than google groups would be better. That said, I think that having a vibrant IRC or hitter channel can be a huge benefit. Lake a look at #ansible on greener for an example.

[2016-03-08 12:34] asrayousuf commented on #754
@kadaan The changes to the AbstractJobLauncher does seem to be working as the lock file is no longer getting deleted when a second job is started and the previous job is already running. Thanks!

@sahilTakiar could you please look into the PR #764 and close this issue accordingly. Thanks!

[2016-03-08 13:12] madhukotagiri opened #810 "issue with new gobblin build"
Hi Iam working on gobblin .
previously the gobblin which is installed in my machine was worked fine ..with configuration file.
recently we downloaded the new source and builded the code but we are facing below errror.

org.apache.hadoop.ipc.RemoteException: Server IPC version 9 cannot communicate with client version 4
	at org.apache.hadoop.ipc.Client.call(Client.java:1113)
	at org.apache.hadoop.ip

[2016-03-08 13:16] madhukotagiri commented on #800
already tried with extract.is.full is false but no luck

[2016-03-08 15:14] zliu41 commented on #810
Seems the Hadoop version you are building with is different from the version.
Have you tried using option `-PhadoopVersion=[your-hadoop-version]` for build?

[2016-03-08 16:34] krtiwari1981 commented on #804
Below is the trace .

set 538 to 545, range=7
2016-03-08 08:45:16,121 INFO [TaskExecutor-0] gobblin.source.extractor.extract.kafka.KafkaExtractor: Finished pulling partition page_visits:7
2016-03-08 08:45:16,121 INFO [TaskExecutor-0] gobblin.source.extractor.extract.kafka.KafkaExtractor: Finished pulling topic page_visits
2016-03-08 08:45:16,121 INFO [TaskExecutor-0] gobblin.runtime.Task: Extracte

[2016-03-08 17:16] sahilTakiar commented on #804
You are getting a `java.lang.ClassNotFoundException: org.apache.hadoop.hive.ql.io.HiveOutputFormat` exception which is why the job is failing. This is a classpath issue, so you need to make sure the necessary Hive Jars are on your classpath.

How are you running this job? Is it stand-alone mode, or MR mode?

[2016-03-08 17:39] krtiwari1981 commented on #804
i am running in MR mode.

[2016-03-08 19:12] krtiwari1981 commented on #804
I tried to explicitly pass the jar by running in the below format. The ./lib/hive-exec-1.0.1.jar version is shipped with gobblin. But I get the below error

./gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ../lib/commons-lang3-3.4.jar,../lib/kafka_2.11-0.8.2.1.jar,../lib/hive-exec-1.0.1.jar

Exception in thread "main" java.lang.NoSuchMethodError: com.google.common.collect.Sets

[2016-03-08 21:44] sahilTakiar commented on #754
This should be fixed as #764 has been merged, but I am going to keep this open for now cause we should add a unit test to ensure the locks are working properly.

[2016-03-08 21:44] sahilTakiar commented on #785
Closing as #764 has been merged

[2016-03-08 21:44] #785 closed

[2016-03-08 21:48] kadaan commented on #754
@sahilTakiar One thing to keep in mind is that the existing file based locks don't expire.  That means if a server crashes, the lock will never be released.  Internally I'm testing a Curator (zookeeper) based lock to solve this issue.

[2016-03-08 22:06] sahilTakiar commented on #776
Closing as #797 has been merged

[2016-03-08 22:06] #776 closed

[2016-03-08 22:12] sahilTakiar commented on #800
Can you send the logs from two consecutive executions?

[2016-03-08 22:17] kadaan opened #811 "Admin UI duration chart is sorted incorrectly"
The "Job Duration" chart in the AdminUI is sorted incorrectly.  It is sorted by duration, but should be sorted by time.

<img width="476" alt="screen shot 2016-03-08 at 2 16 21 pm" src="https://cloud.githubusercontent.com/assets/1904898/13618328/60a39822-e538-11e5-983b-4706e45c2a34.png">

[2016-03-08 22:38] sahilTakiar commented on #804
The Hive version should be ok. The problem is that Hive Fat-Jars Guava 11.0.2 (or some version older than 15.0). Gobblin uses features from Guava 15.0, which is where the problem arises. I'll create a follow up ticket to address this issue, but for now here is a quick solution that should work:

1. Add `../lib/guava-15.0.jar` to the beginning of the `--jars` option (make sure it comes before the `

[2016-03-08 22:54] sahilTakiar commented on #809
Yes, Gitter looks like a solid option for adding chat; need to see how the rest of the team feels.

Still want to explore groups.io as it is also nice to have a mailing list so we can send announcements about major changes / updates to Gobblin.

[2016-03-08 22:58] kadaan commented on #809
@sahilTakiar Thanks for considering it.  At least for me, chat could be really useful when I've found a major bug and just want to sanity check that the issue isn't just in my head.

[2016-03-08 23:50] krtiwari1981 commented on #804
Work around did not work for me .
Steps i did

1. First i removed the entry FWDIR_LIB/guava-15.0.jar from bin/gobblin-mapreduce.sh.

Then

2. I ran the below command but got an error

------------------------------------------------------------
./gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ../lib/guava-15.0.jar,../lib/commons-lang3-3.4.jar,../lib/kafka_2.11-0.8.2.1.jar,../l

[2016-03-09 01:37] ydai1124 commented on #529
Close as per #813

[2016-03-09 01:37] #529 closed

[2016-03-09 02:43] sahilTakiar commented on #754
I see, something like the [Shared ReEntrant Lock](http://curator.apache.org/curator-recipes/shared-reentrant-lock.html)?

Based on [this](http://stackoverflow.com/questions/27113914/apache-zookeeper-curator-time-to-live-on-locks) stack overflow post seems like the locks are based on ephemeral, so if the connection dies the lock is deleted, correct?

Do you face this problem when running Gobblin on

[2016-03-09 02:50] kadaan commented on #754
@sahilTakiar Yeah, but the non-reentrant version.  I do have this problem on Gobblin Yarn.

I will be submitting a PR for this tonight.  I've been running it in our pre-prod environment today and it seems good. We had a problem where the app_master died and a new app_master was spun up and began to process.  With FileBasedLock, this would not have worked.

[2016-03-09 02:57] sahilTakiar commented on #754
Awesome! yeah, I like the ZK lock a lot better

[2016-03-09 03:19] sahilTakiar commented on #804
Can you change the directory you are executing the script from? Basically you need to execute the script as `bin/gobblin-mapreduce.sh` rather than `./gobblin-mapreduce.sh`. If you do this please revert any changes you made to the `gobblin-mapreduce.sh` file; you also don't need the `hive-exec-1.0.1` jar in your `--jars` option.

[2016-03-09 03:23] sahilTakiar commented on #800
Actually setting `source.querybased.extract.type` to `APPEND_HOURLY` should do the trick.

[2016-03-09 04:14] krtiwari1981 commented on #804
if i execute the way you mentioned .

**bin/gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ./lib/kafka_2.11-0.8.2.1.jar**

i get the below error

2016-03-09 04:00:32,493 INFO [TaskExecutor-0] gobblin.runtime.Task: Row quality checker finished with results:
2016-03-09 04:00:32,563 ERROR [ForkExecutor-0] gobblin.runtime.Fork-0: Fork 0 of task task_GobblinKafkaQuickStart_14574960

[2016-03-09 04:20] madhukotagiri commented on #810
please refer the below issue.
https://github.com/linkedin/gobblin/issues/786
iam did same as per the above issue.
but facing mentioned isse in this current issue 810

[2016-03-09 04:54] sahilTakiar commented on #804
The second command seems to have done the trick. The classpath issues are solved, but I think there may be some more configuration that need to be set. What is the input data format to the Writer?

@zliu41 may know better

[2016-03-09 05:30] madhukotagiri commented on #800
also  tried with source.querybased.extract.type to APPEND_HOURLY

still it is extracting the entire data from rdbms.
note please the the attached log file
[2iterations log.txt](https://github.com/linkedin/gobblin/files/164576/2iterations.log.txt)

[2016-03-09 07:17] zliu41 commented on #800
@madhukotagiri you can do (1) by first extracting the data from rdbms using jdbc extractor, write the data to HDFS, and store the appropriate metadata (schema etc.) in the workunitstates; then implement an appropriate `HiveRegistrationPolicy` and use `HiveRegistrationPublisher` to register the data with hive.

[2016-03-09 07:44] krtiwari1981 commented on #804
For the second command is not the issue same as you mentioned earlier.
The problem is that Hive Fat-Jars Guava 11.0.2 (or some version older than 15.0). Gobblin uses features from Guava 15.0, which is where the problem arises

**bin/gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ./lib/kafka_2.11-0.8.2.1.jar,./lib/hive-exec-1.0.1.jar
**

The input data format to the writer is a

[2016-03-09 12:15] madhukotagiri commented on #810
please let me know the status of this?

[2016-03-09 12:21] madhukotagiri commented on #800
for that i need to write custom java class right?
if yes,how do i use gobblin API?
Please Post us the custom java example project  with maven.so that any one can understand How to use the API.

Unfortunately no examples are found in the internet except GitHub.
so far i am executed just .pull property file.

[2016-03-09 17:42] kadaan opened #814 "Gobblin Yarn log size is unbounded"
The current solution for handling logs in Gobblin Yarn results in logs files which keep growing.  To handle this, we should support log rotation.

Additionally, while looking into this, it seems like `LogCopier` may no longer be needed when running [Yarn 2.6.0](https://hadoop.apache.org/docs/r2.6.0/hadoop-yarn/hadoop-yarn-common/yarn-default.xml) or greater (`yarn.nodemanager.log-aggregation.roll-

[2016-03-09 17:48] liyinan926 commented on #814
I believe we do have log rotation built in. @zliu41 can comment on this.

[2016-03-09 17:52] sahilTakiar commented on #800
* Seems `MySQLExtractor` only allows Watermark types `TIMESTAMP` or `DATE` - so you need to set `source.querybased.watermark.type` to `TIMESTAMP`, your current config has it set to `SIMPLE`
* Are you positive `extract.is.full` is set to `false`, please check your `.pull` and `.properties` file
    * I see the following log statement which indicates it is being set to `true` somewhere `gobblin.sour

[2016-03-09 17:56] sahilTakiar commented on #800
I believe you would only need to implement ]`HiveRegistrationPolicy`](https://github.com/linkedin/gobblin/blob/master/gobblin-hive-registration/src/main/java/gobblin/hive/policy/HiveRegistrationPolicy.java)

Some example classes that implement this interface are:

https://github.com/linkedin/gobblin/blob/master/gobblin-hive-registration/src/main/java/gobblin/hive/policy/HiveRegistrationPolicyBase.

[2016-03-09 18:16] sahilTakiar commented on #804
For the second command, the issue Hive and Guava has been fixed. You are now hitting a new issue which I expect is a configuration issue with `HiveWritableHdfsDataWriterBuilder`

It should be noted that the current code cannot take a `byte[]` and write it to ORC. The current code can only take Avro or Parquet data and convert it to ORC. If you want to go directly from `byte[]` to ORC then you need

[2016-03-09 18:27] krtiwari1981 commented on #804
Actually i tried that and and created a OrcDataWriter and OrcWriterBuilder.

and ran the below command

bin/gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ./lib/kafka_2.11-0.8.2.1.jar

But I am getting the below error. I have pasted by OrcDataWriter code at the end.For testing i am just putting hardcoded values to the file.

I am not sure if this is the issue with my code or t

[2016-03-09 18:34] sahilTakiar commented on #804
Make sure that `writer.builder.class` is set to `gobblin.writer.OrcWriterBuilder` (or whatever package you put the builder class in). Also make sure the `OrcWriterBuilder` class has a public constructor that takes in no arguments.

Your logs are indicating that `writer.builder.class` is set to `goblin.writer.OrcDataWriter` which is not correct.

[2016-03-09 19:05] krtiwari1981 commented on #804
Yes you are right my mistake. I did that and encountered the below missing class definition issue.
I guess this is related to CLASSPATH.

2016-03-09 18:58:32,480 WARN [ForkExecutor-3] gobblin.writer.FsDataWriter: Task staging file /gobblin/example/task-staging/fact_device_log_advertising_events/page_visits/year=2016/month=03/day=04/hour=01/part.task_GobblinKafkaQuickStart_1457549888855_0_0.AVRO al

[2016-03-09 20:04] zliu41 commented on #814
There are ways to avoid a single log file to grow unboundedly (`MaxMinutesPerLogFile` and `MaxBytesPerLogFile`) but I don't think there's log rotation support.

[2016-03-09 20:24] sahilTakiar commented on #804
Yes, it seems to be missing the `hive-exec-1.0.1.jar` file which contains the `OrcSerde` file.

[2016-03-09 20:27] sahilTakiar commented on #810
So are you blocked on this Issue or on #786?

The resolution for #786 is to run `gradlew clean assemble -Pversion=gobblin_0.6.2-180-g5a11598`

The resolution to this issue would just be to add `-PhadoopVersion=[your-hadoop-version]` to the build command.

So the final command would look like: `gradlew clean assemble -Pversion=gobblin_0.6.2-180-g5a11598 -PhadoopVersion=[your-hadoop-version]`

[2016-03-09 20:46] sahilTakiar commented on #762
I think you have to copy `/usr/local/gobblin/gobblin-dist/lib` from your local filesystem to `hdfs://localhost:54310/usr/local/gobblin/gobblin-dist/lib`

[2016-03-09 20:51] sahilTakiar commented on #762
I think you are hitting the same issue that came up in this thread on the Google Groups: https://groups.google.com/d/topic/gobblin-users/fC57aSFYISo/discussion

[2016-03-09 22:56] krtiwari1981 commented on #804
The problem is if i run the below command by adding hive-exec-1.0.1.jar, i start getting the guava version issue.

bin/gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ./lib/kafka_2.11-0.8.2.1.jar,./lib/hive-exec-1.0.1.jar

SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/home/ec2-user/gobblin-dist/lib/slf4j-log4j12-1.7.5.jar!/org/slf4j/impl

[2016-03-09 23:24] qizongjun commented on #386
Anyone with luck on this? I am facing the same Kafka problem. I find kafka jar inside gobblin/lib there, and it contains TopicAndPartition.class.

I am using latest Gobblin code.

I tried removing the hive-exec.jar too. It did not work for me.

2016-03-09 22:35:01,845 ERROR [TaskExecutor-0] gobblin.runtime.Task: Task task_kafka2hdfs_1457562888703_1 failed
java.lang.NoClassDefFoundError: kafka/comm

[2016-03-10 00:21] sahilTakiar commented on #804
Try using `hive-exec-1.0.1-core.jar` instead. It should be in the `gobblin-distribution-[version].tar.gz` file.

[2016-03-10 00:35] krtiwari1981 commented on #804
Ran the below command and it moved pass that issue but hit another error .

**bin/gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ./lib/kafka_2.11-0.8.2.jar,./lib/hive-exec-1.0.1-core.jar**

2016-03-10 00:30:40,579 ERROR [ForkExecutor-0] gobblin.runtime.Fork-0: Fork 0 of task task_GobblinKafkaQuickStart_1457569816886_0 failed to process data records
com.google.common.util.concu

[2016-03-10 00:36] sahilTakiar commented on #386
Adding add `kafka_2.11-0.8.2.1.jar` to the `--jars` option when you running `bin/gobblin-mapreduce.sh` fixes this

[2016-03-10 00:40] sahilTakiar commented on #804
Add `hive-serde-1.0.1.jar` to the `--jars` option.

[2016-03-10 00:45] zliu41 commented on #809
https://groups.io/ looks great at the first glance. @sahilTakiar do you want to create a group for gobblin for us to play with?

[2016-03-10 01:50] krtiwari1981 commented on #804
Added one more jar and the command executed

**bin/gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ./lib/kafka_2.11-0.8.2.1.jar,./lib/hive-common-1.0.1.jar,./lib/hive-serde-1.0.1.jar,./lib/hive-exec-1.0.1-core.jar**

but hit another issue i am not able to find which jar to add to move pass this.

2016-03-10 01:46:29,455 ERROR [ForkExecutor-0] gobblin.runtime.Fork-0: Fork 0 of t

[2016-03-10 01:52] sahilTakiar commented on #804
It's in `hive-common-1.0.1.jar`

[2016-03-10 01:59] krtiwari1981 commented on #804
i see, i have already added it

bin/gobblin-mapreduce.sh --conf /home/ec2-user/in/wikipedia.pull --jars ./lib/kafka_2.11-0.8.2.1.jar,./lib/hive-common-1.0.1.jar,./lib/hive-serde-1.0.1.jar,./lib/hive-exec-1.0.1-core.jar

[2016-03-10 02:31] hyunwoona opened #822 "Gradle -PhadoopVersion bug"
When I specify -PhadoopVersion to build with Gradle, for example -PhadoopVersion=2.7.2, this will attach the version number to every hadoop package.

Other Hadoop packages seem to use the same version number, but hadoop-core doesn't.
At the time of writing, 1.2.1 is the latest version for Hadoop Core.

This causes an error because Gradle cannot find hadoop-core:2.7.2 as shown below.

     Required

[2016-03-10 03:26] sahilTakiar commented on #804
Apologies its actually `hive-shims-common-1.0.1.jar` that you are missing.

You can figure this out easily by looking at the stack trace, and looking at what class is missing: `java.lang.ClassNotFoundException: org.apache.hadoop.hive.shims.ShimLoader`. In this case it is the `ShimLoader` class.

At this point I suggest adding all the `hive-*.jar` in the `gobblin-distribution.tar.gz` file except fo

[2016-03-10 03:30] sahilTakiar commented on #822
Looks like a bug. I checked fails for any `2.x.x` version, except for the default which is `2.3.0`.

[2016-03-10 04:28] sahilTakiar commented on #822
Actually I believe the solution is to just include `-PuseHadoop2` in the build script. Although that shouldn't really be necessary so I will leave this Issue open as a bug.

[2016-03-10 05:12] asrayousuf opened #823 "Error in fetching message buffer for kafka partition"
When attempting to pull records from Kafka, it fails to fetch message buffer for some partitions of the Kafka topic and hence extracts 0 records (as in the log snippet below). However, it successfully fetches records from the other partitions in the same job. The exception thrown for the failed attempt is  - java.lang.RuntimeException: error code 1

[code]

[2016-03-10 05:53] madhukotagiri commented on #800
Hi SahilTakiar

Please Let me know you available time to discuss over Skype call.
please share your Skype details to my mail id:   madhu.kotagiri007@gmail.com

[2016-03-10 08:52] madhukotagiri commented on #810
I tried with as u mentioned above command but facing the issue:

FAILURE: Build failed with an exception.

* Where:
Build file '/opt/buildgobblin/gobblin-master/gobblin-compaction/build.gradle' line: 57

* What went wrong:
A problem occurred evaluating project ':gobblin-compaction'.

     Required by:
         com.linkedin.gobblin:gobblin-compaction:gobblin_0.6.2-180-g5a11598
         com.linkedin

[2016-03-10 15:41] ibuenros commented on #810
Can you try
gradlew clean assemble -Pversion=gobblin_0.6.2-180-g5a11598 -PuseHadoop2
-PhadoopVersion=[your-hadoop-version]

On Thu, Mar 10, 2016 at 12:52 AM, madhukotagiri <notifications@github.com>
wrote:

[2016-03-10 19:21] ibuenros opened #825 "Gobblin picks up wrong artifacts when specifying Hadoop version"
When building Gobblin as follows
`./gradlew clean assemble -PhadoopVersion=2.*`
without specifying the `-PuseHadoop2` flag, the following lines in `build.gradle` do not execute as expected:

[code]

Even though building for Hadoop 2, the else statement will trigger, adding the wrong jars to the build (hadoop 2 uses `hadoop-common`, hadoop 1 uses `hadoop-core`). Explicitly adding the flag `-PuseHad

[2016-03-10 19:52] sahilTakiar commented on #822
Closing this as a duplicate of https://github.com/linkedin/gobblin/issues/825 which has more details

[2016-03-10 21:30] sahilTakiar opened #827 "Modularize build.gradle File"
The current `build.gradle` file is over 500 lines long and is hard to understand. We should break it down into separate `.gradle` files and use the `apply from:` command to apply them in the top-level `build.gradle` file. This will help make the build script more modular and easier to understand. For example, we can move all commands relevant to publishing artifacts to a file `gradle/scripts/publi

[2016-03-10 22:16] kadaan commented on #827
This should help how slow that file is when editing it in Intellij Idea

[2016-03-10 22:32] kadaan commented on #814
@zliu41 It looks like if either of those configuration keys are specified `LogCopier` will rotate the files in the `createNewLogFileIfNeeded()` method.

[2016-03-10 22:48] krtiwari1981 commented on #804
I added all the hive jars except hive-exec-1.0.1.jar

and got the below error ....

2016-03-10 19:13:30,823 ERROR [ForkExecutor-3] gobblin.runtime.Fork-3: Fork 3 of task task_GobblinKafkaQuickStart_1457637174421_0 failed to process data records
com.google.common.util.concurrent.UncheckedExecutionException: java.lang.NullPointerException
	at com.google.common.cache.LocalCache$Segment.get(LocalCache

[2016-03-10 23:57] sahilTakiar opened #830 "Exclude hive-exec-1.0.1.jar from gobblin-distribution.tar.gz"
The `gobblin-distribution-[projectVersion].tar.gz` that is generated includes the `hive-exec-1.0.1.jar`, which fat jars all its dependencies, including `guava-11.0.2.jar`. This causes a lot of problems because Gobblin is dependent on `guava-15.0.jar`. This causes problems similar to https://github.com/linkedin/gobblin/issues/804

Hive provides a non-fat jar verison of `hive-exec` called `hive-exec

[2016-03-11 00:04] sahilTakiar commented on #804
You are hitting a `NullPointerException` that is being thrown by `org.apache.hadoop.hive.ql.io.orc.MemoryManager`, specifically line 84, which based on the source code is: `double maxLoad = conf.getFloat(poolVar.varname, poolVar.defaultFloatVal);`

I don't know why this exception is being thrown, I suggest you try consulting the Hive docs, or opening anHive JIRA

[2016-03-11 00:05] sahilTakiar commented on #800
hey @madhukotagiri i probably don't have cycles to do a skype call anytime soon, but if you have a gitter account (https://gitter.im/home) feel free to ping be directly

[2016-03-11 00:07] sahilTakiar commented on #787
@estol did this end up working for you?

[2016-03-11 00:18] zliu41 commented on #830
I'll double check if hive-service is really needed for hive compaction because I doubt it. If it is then we can do what you suggested.

[2016-03-11 00:21] kadaan commented on #830
If it possible to just exclude the dependency from `hive-service-1.0.1.jar` to `hive-exec-1.01.jar` and explicitly include `hive-exec-core-1.0.1.jar`?

[2016-03-11 00:30] krtiwari1981 commented on #804
i figured out why, i was not setting the conf properly

[2016-03-11 00:30] kadaan opened #831 "Gobblin Yarn fails due to "Invalid AMRMToken""
After running a while, the app_master in gobblin yarn fails due to "Invalid AMRMToken".  Without #828, any ongoing jobs may be dead in the water.  I believe this is related to [YARN-3103](https://issues.apache.org/jira/browse/YARN-3103).
### The original error

[code]
### And later this happens:

[code]
### @sahilTakiar, and then a timeout shutting down the new `ServiceBasedAppLauncher`

[code]

[2016-03-11 00:41] zliu41 commented on #827
Also adding Eclipse support (generating the correct root `.classpath` file) with similar functionality as the `build_eclipse.py` we use internally would be helpful.

[2016-03-11 00:49] sahilTakiar commented on #830
It may be possible, but I couldn't find a clean way to do it. Excluding the dependency is easy, but I can't find a way to include something that has already been excluded.

[2016-03-11 01:02] zliu41 commented on #823
Error code 1 means offset is out of range, i.e. 1803914315 is not a valid offset for partition 15. My guess is 1803914315 was the earliest available offset for that partition when it asked for the earliest offset, but at the time it was fetching the message buffer, that offset is no longer there.

[2016-03-11 01:02] kadaan commented on #830
Can you do something like: http://stackoverflow.com/questions/30728533/gradle-override-transitive-dependency-by-version-classifier

[2016-03-11 02:42] sahilTakiar commented on #830
Yeah that works, I created a PR: https://github.com/linkedin/gobblin/pull/832

My goal was to add the exclusion rule in `gobblin-distribution/build.gradle` so `hive-exec` would be excluded regardless of which sub-module pulls it in, but I'm not sure if thats possible.

[2016-03-11 02:57] sbjroll opened #833 "TimebasedAvroPartitioner casting issue"
In [TimebasedAvroPartitioner.java](https://github.com/linkedin/gobblin/blob/master/gobblin-core/src/main/java/gobblin/writer/partitioner/TimeBasedAvroWriterPartitioner.java)

`private long getRecordTimestamp(Optional<Object> writerPartitionColumnValue) {
    return writerPartitionColumnValue.orNull() instanceof Long ? (Long) writerPartitionColumnValue.get()
        : System.currentTimeMillis();

[2016-03-11 09:13] krtiwari1981 commented on #804
Don't know if you can point why i am getting the below error

se fs.defaultFS
2016-03-11 09:06:06,458 ERROR [ForkExecutor-0] gobblin.runtime.Fork-0: Fork 0 of task task_GobblinKafkaQuickStart_1457687134706_0 failed to process data records
java.lang.ClassCastException: org.apache.hadoop.hive.ql.io.orc.OrcSerde$OrcSerdeRow cannot be cast to [Ljava.lang.Object;
	at org.apache.hadoop.hive.serde2.objec

[2016-03-11 19:31] sahilTakiar commented on #804
Not entirely sure, I'm not too familiar with ORC. I suggest trying to look through the ORC code, or reading the ORC + Hive documentation.

[2016-03-11 21:43] sahilTakiar commented on #724
New documentation system is live: http://gobblin.readthedocs.org/en/latest/

[2016-03-11 21:43] #724 closed

[2016-03-11 22:13] Kaiserchen opened #840 "Losing events due to unlikely race in Fork::processRecords()?"
It looks like there is an unlikely race in the metioned method in a situation where the extractor would stop pulling records for some time triggering the fork runner to time out on the queue, then publish some records and then calling markParentTaskDone before the forkrunner checks it?

Isn't something else cleaner like publishing a done message into the queue or something? Am I missing something

[2016-03-12 01:27] sahilTakiar commented on #840
hey @Kaiserchen

Yeah that seems like a possible race condition, in the `Fork.processRecords` method. To provide more details here a list of steps as to how this could happen:

Task Thread launches Fork Thread that listens for records on the `recordQueue` and processes them
Task Thread extracts 1 record from the `Extractor`
Task Thread puts the record on the `recordQueue`
Fork Thread processes the

[2016-03-12 05:28] Kaiserchen commented on #840
The Io event could potentially block fetching many records that get "cached in the extractor" so it could start a burst squeezing even more events in, making it more unlikly that it makes it ways to set the done flag, but no gurantees that even many records might be missed. Shall i prepare a patch where the mark done flag puts a static object in as record and in the process i check if it was the d

[2016-03-14 10:09] asrayousuf commented on #823
@zliu41 Thanks for pointing this out. This does seem to be the case as I ran a separate kafka consumer to fetch the earliest and the latest offset, and the ones returned for some of the partitions were completely different from the ones that gobblin is fetching at the same time instant. For these partitions, the earliest offset fetched by gobblin no longer exists. Hence, the data for these particu

[2016-03-14 13:11] Kaiserchen commented on #840
I submitted a pull request #841 maybe someone can take a look?

[2016-03-14 17:01] sahilTakiar commented on #792
Issues 1 and 2 are resolved, issue 3 is still open.

[2016-03-14 20:53] sahilTakiar commented on #840
@Kaiserchen yes this approach looks good, thanks for the PR. I just made a few minor comments. Overall it looks good.

[2016-03-14 21:01] sahilTakiar commented on #833
@sbjroll I agree that doesn't seem like the best default behavior. It may be better for the `TimeBasedAvroWriterPartitioner` to throw an exception in this case.

We can have a separate `CurrentTimeBasedWriterPartitioner` that partitions solely on the current time.

@zliu41 thoughts?

[2016-03-14 21:21] sahilTakiar commented on #831
Do you hit this with version `2.3.0`? Any chance you can upgrade to `2.6.1` and see if it is still there?

I don't think we have seen this issue before, but I would have to investigate with a few other people to see if it came up and then was fixed internally.

It doesn't seem like this is an exception Gobblin can recover from. Is there any way you can backport the patch available in YARN-3103 to

[2016-03-14 21:23] sahilTakiar commented on #831
As for the timeout in `ServiceBasedAppLauncher` my guess is that this exception causes `YARNService` to not shutdown properly, which cases the timeout. The logs from `ServiceBasedAppLauncher` aren't very helpful in confirming this. Logging the state of each running `Service` if a `TimeoutException` occurs would be helpful here.

[2016-03-14 21:23] #830 closed

[2016-03-14 21:24] sahilTakiar commented on #830
Fixed in #832

[2016-03-14 21:25] kadaan commented on #831
@sahilTakiar I've opened a bug on Qubole to backport this fix to their version of 2.6.0.

[2016-03-14 21:26] sahilTakiar commented on #802
Fixed in #808

[2016-03-14 21:26] #802 closed

[2016-03-14 21:44] krtiwari1981 opened #844 "Publisher MR complete but bin/gobblin-mapreduce.sh still running."
Hello,

I am running on MR mode , i can see in the resource manager the job is complete and the data is copied to the S3 location but call to bin/gobblin-mapreduce.sh is running for very long time and keeps on logging the below message in gobblin-current.log. The job finishes but it takes very long time at this step.

In my case the below message is logged for 15 minutes.

Can somebody point why t

[2016-03-14 21:45] sahilTakiar opened #845 "SimpleDataWriter should set simple.writer.prepend.size to false by default"
Currently, `SimpleDataWriter` sets `simple.writer.prepend.size` to `true` by default, which causes confusion for a lot of users (see links below). It may be better to set it to `false` by default.

https://groups.google.com/d/topic/gobblin-users/wBTRrTPZpSM/discussion
https://groups.google.com/d/topic/gobblin-users/bYmWyYVWCA8/discussion

@akshaynanavati are you ok with this change?

[2016-03-14 21:45] sbjroll commented on #833
That would be great

[2016-03-14 22:05] sahilTakiar commented on #844
Can you send your config file, as well as a full copy of the logs. I suspect this is related to some cleanup done by the `S3AFileSystem`.

[2016-03-14 22:11] sahilTakiar commented on #732
I suggest adding `-x test` to your build statement, that will prevent tests from being run.

[2016-03-14 22:11] #732 closed

[2016-03-14 22:19] krtiwari1981 commented on #844
Attached are config and log

[log.txt](https://github.com/linkedin/gobblin/files/172949/log.txt)
[config.txt](https://github.com/linkedin/gobblin/files/172948/config.txt)

[2016-03-14 22:54] sahilTakiar commented on #844
A few comments:

* I notice you have `state.store.fs.uri` set twice, the first time it points to a s3 bucket, the second time it points to HDFS; I am not sure which one Gobblin will use
    * If the s3 bucket is used for the state-store this could explain the behavior you are seeing (see below)
* The logs you are seeing are most likely a result of invoking `S3AFileSystem.create()` - which creates

[2016-03-14 22:55] sahilTakiar commented on #844
I also noticed you wrote a few custom classes for this job, if there is any logic you think can be contributed back to Gobblin, we always welcome external contributions. Submitting a PR is pretty easy: https://help.github.com/articles/creating-a-pull-request/

[2016-03-14 23:28] krtiwari1981 commented on #844
Hi Sahil,

My required to store data in S3.
You are right the state is getting stored in s3.
So i removed the state.store.fs.uri pointing to hdfs hostname and trying to run again to check how it is behaving.

Earlier it took 10 minutes to pull the data and 15 minutes to copy .

My process seem to be very slow and is not meeting current SLA, I guess from your explanation it seems bulk of the time i

[2016-03-14 23:56] #814 closed

[2016-03-15 00:03] #718 closed

[2016-03-15 00:11] zliu41 commented on #833
@sahilTakiar how about moving `long getRecordTimestamp(Optional<Object> writerPartitionColumnValue)` from `TimeBasedAvroWriterPartitioner` to the parent class `TimeBasedWriterPartitioner` and make it protected, so that one can override it and do whatever he wants, as long as it returns a `long`.

[2016-03-15 00:15] zliu41 commented on #823
@asrayousuf I have no idea. If Gobblin and your separate kafka consumer fetch the earliest offset at the same time, they should get the same value.

The code for fetching earliest offsets in Gobblin is in method `getEarliestOffset` in `KafkaWrapper`, which is based on Kafka's SimpleConsumer. You may want to do some testing on that piece of code.

[2016-03-15 01:05] sahilTakiar commented on #844
Did changing the state-store filesystem make a significant difference? It should have decreases the amount of time taken by the job significantly

[2016-03-15 01:16] krtiwari1981 commented on #844
i have to run few more tests to check, it seems to help.

But in the log i still see ,

2016-03-15 01:12:16 UTC INFO  [ParallelRunner] org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext$DirSelector  530 - Returning directory: /media/ephemeral0/hadoop-root/s3a/output-
2016-03-15 01:12:16 UTC INFO  [ParallelRunner] org.apache.hadoop.fs.LocalDirAllocator$AllocatorPerContext$DirSelector  530 -

[2016-03-15 01:21] sahilTakiar commented on #729
@kadaan can we close this now?

[2016-03-15 01:21] #729 closed

[2016-03-15 01:24] #744 closed

[2016-03-15 01:25] #660 closed

[2016-03-15 06:38] akshaynanavati commented on #845
I think that should be okay.

[2016-03-15 13:42] Zogtark opened #848 "Forked converters doesn't know their branch id"
Been having issues with supplying my forked converters with individual settings and finally found the error. The property for the forked branch index wasn't set in the TaskState that was supplied to the forked converter.

This is from the constructor in gobblin.runtime.Fork

[code]

The first row is relevant as here we create a copy of the TaskState for this specific fork. The last rows are the ro

[2016-03-15 16:45] krtiwari1981 commented on #844
i figured out the property is

fs.s3a.buffer.dir

[2016-03-15 21:47] #695 closed

[2016-03-15 23:48] #825 closed

[2016-03-16 00:57] sahilTakiar commented on #798
Not sure what's wrong but it doesn't seem to be working. The `./gradlew coveralls` command is throwing a `StackOverflowError`, here is the full stack-trace:

[code]

This is happening on Travis, and I am able to re-produce it locally by first running:

[code]

and then running `./gradlew coveralls`

Not sure why, the debug statements print a lot of stuff out about a `DependencyGraphBuilder`, I sus

[2016-03-16 02:45] sahilTakiar commented on #798
Possibly related link: https://compsciworld.wordpress.com/2015/06/13/gradle-stackoverflow-error/

[2016-03-16 05:19] sahilTakiar commented on #798
Fixed the issue. Not sure why but the latest version of the coveralls plugin was the culprit. I suspect its only compatible with Gradle 2.x, while Gobblin is still on 1.x - downgrading the version fixed the issue.

Coveralls integration is now working: https://coveralls.io/github/linkedin/gobblin we are at 42% test coverage

[2016-03-16 05:19] #798 closed

[2016-03-16 19:02] zliu41 opened #857 "AbstractJobLauncher failing to clean leftover staging data"
Before a job starts to run, `AbstractJobLauncher` attempts to clean left over staging data (which is usually due to the previous run failed) in `cleanLeftoverStagingData()`.

However, since the staging folder path contains the job ID and each run will have a unique job ID, the staging folder it is trying to clean is different from the staging folder the previous run used, which means the leftover

[2016-03-16 19:04] zliu41 commented on #857
@liyinan926 what do you think? Was there a reason that each run has a different staging folder? Is (1) safe to do in the continuous execution environment?

[2016-03-16 19:55] liyinan926 commented on #857
@zliu41 I couldn't remember that. This whole staging data cleanup thing has gone through several changes. If I'm not wrong, it used to use job name.

[2016-03-16 21:25] kadaan commented on #857
1 doesn't seem like it would be safe if job locking isn't used.

[2016-03-17 00:57] sahilTakiar opened #861 "ExecutorUtils.newThreadFactory should create Error handling Threads"
A vanilla Java `Thread` that executes a `Runnable` does not handle `RuntimeException`s thrown by the `Runnable`. We have added `uncaughtExceptionHandler`s to ensure that any `RuntimeException`s are at least logged. This logic is encapsulates in `ExecutorUtils.newThreadFactory`.

However, `uncaughtExceptionHandler`s do not handle `Error`s (e.g. `OutOfMemoryError` or `NoClassDefFoundError`). It simp

[2016-03-17 01:58] sahilTakiar commented on #857
@zliu41 IIRC, the `cleanupStagingData` call that happens before the job is launched, is suppose to use the state from the previous execution, this way it only deletes staging data from the previous job. The fix should just require using the previous `WorkUnitState`s, rather than the new ones.

This should also avoid only problems with job locking as a job can only access the state of a previous ex

[2016-03-17 02:02] kadaan commented on #857
What do we do if the state fails to write?  Maybe that is out of scope for now.

[2016-03-17 02:16] sahilTakiar commented on #848
@Zogtark yes that seems like a bug, `this.forkTaskState` should be used instead of `this.taskState` in both locations you mentioned. The fix should be simple.

[2016-03-17 09:28] madhukotagiri commented on #800
Hi Sahil,
I am scheduling multiple jobs (for example job_A, job_B, job_C, job_D, job_E,....) from the terminal.
do we have option to stop specific job by job name ( Job_A) ?

[2016-03-17 11:01] liuxuan207 opened #864 "gobblin-mapreduce fails due to NullpointerException of JobConfigurationUtils.putPropertiesIntoConfiguration"
- hdp:2.6.0

bin/gobblin-mapreduce.sh --conf job.job

Exception in thread "main" java.lang.NullPointerException
	at gobblin.util.JobConfigurationUtils.putPropertiesIntoConfiguration(JobConfigurationUtils.java:62)
	at gobblin.runtime.mapreduce.MRJobLauncher.<init>(MRJobLauncher.java:134)
	at gobblin.runtime.mapreduce.CliMRJobLauncher.<init>(CliMRJobLauncher.java:56)
	at gobblin.runtime.mapreduce.Cl

[2016-03-17 13:41] lbendig commented on #864
https://github.com/linkedin/gobblin/pull/859 is intended to fix this issue, but it's not merged to the upstream yet.

[2016-03-17 16:00] sahilTakiar commented on #864
#859 has been merged, please upgrade to the latest version and the bug should be fixed

[2016-03-17 16:00] #864 closed

[2016-03-17 16:05] sahilTakiar commented on #800
@madhukotagiri how are you launching your job? in standalone or mapreduce mode?

Currently, there is no way to kill a specific job, short of killing the entire application. It would be really nice to have some type of REST API that can kill jobs, start new jobs, check the status of jobs, etc. We could then have some type of CLI that uses the API to query that status of a job.

[2016-03-17 16:40] madhukotagiri commented on #800
Present iam launching the job from standalone mode.
Can you help me to achieve my requirement?
On 17-Mar-2016 9:35 PM, "Sahil Takiar" <notifications@github.com> wrote:

[2016-03-17 18:45] sahilTakiar commented on #800
The stand-alone instance uses Quartz to schedule jobs, Gobblin currently has no integration with any Quartz UI or REST API for managing job life cycles.

Gobblin does work other schedulers though such as Oozie and Azkaban. These tools provide command line tools to kill jobs / monitor jobs, as well as nice UIs.

Take a look at http://gobblin.readthedocs.org/en/latest/user-guide/Gobblin-Schedulers/

[2016-03-18 00:19] hegu8 opened #866 "java.io.IOException: Connection reset by peer"
I know this might be a Hadoop issue but since we are running other MR jobs on the same cluster and we are not seeing this problem so I think it might be more of a Gobblin issue.

So I configured my job to be ran in MapReduce mode, the job runs fine on my local standalone Hadoop cluster, but when it runs on the production cluster I got this exception (from the container log):

[code]

Then, it goes

[2016-03-18 00:33] sahilTakiar commented on #866
hey @hegu8 could you provide us with a full copy of the logs? Is this consistently happening or is it intermittent? Does it always occur during a certain phase of the job?

[2016-03-18 00:45] hegu8 commented on #866
I just solve the problem. So this problem happens when I'm deploying the job for the first time ever on production, and I have `bootstrap.with.offset=earlest` so the job tries to pull everything from Kafka, which seems to create too many files and exhaust the blocks (just my guess), I set it to `latest` to bootstrap the offset and set it back to `earlest` again, and it worked perfectly.

[2016-03-18 00:45] #866 closed

[2016-03-18 18:17] sahilTakiar commented on #798
I also had to downgrade the JaCoCo version back to 0.7.2.201409121644, seems like the newest version is not compatible with Gradle 1.12

[2016-03-18 20:20] krtiwari1981 opened #868 "Performance related statistics -- Running Slow"
i am running gobblin in MR mode. Below are my numbers.

Hadoop cluster 1 master 4 slaves -
each machine is 8 core 30 gb ram with processor 2.6 GHz.

Topic = 1 topic with 32 partitions

Also I have a added my fork class and splitting into 8 branches but each record is present in only one branch and schema is in all.

case 1
Without implementing converts and using simple data writer.
I am processing

[2016-03-21 06:26] never-summer opened #870 "Source Kafka 0.9"
Hey,
When planned to add source for Kafka 0.9?
Thanks

[2016-03-21 18:56] zliu41 commented on #857
@sahilTakiar  @kadaan is there any use case to schedule two runs of the same job simultaneously? That could mess up the state store and cause undefined behavior.

[2016-03-21 21:32] sahilTakiar commented on #857
Well we have a Job Lock mechanism that prevents two job from running simultaneously, I believe there are multiple users who are using this feature. The Job Lock prevents two jobs from running at the same time.

The reason the Job Lock is useful is because there are some users who want to basically schedule the job back to back; this is easy in Azkaban, but not so easy in Quartz (or at least we hav

[2016-03-22 18:57] sahilTakiar commented on #868
Hey @krtiwari1981 its hard to say what the bottleneck is without getting a more detailed analysis of your job. What tools are you using to determine the CPU utilization? Can you send the full reports so we can determine which class / method is taking the most time?

It also depends on the nature of your converters, are they CPU intensive?

[2016-03-23 17:56] sahilTakiar commented on #833
@zliu41 that sounds good to me

Can we add to the javadoc of `TimeBasedAvroWriterPartitioner` that `getRecordTimestamp` will use the current time by default? This way users don't get confused.

[2016-03-23 18:52] sahilTakiar commented on #870
What features in Kafka 0.9 would you like to see Gobblin integrate with?

There are plans to integrate with the new consumer (see `KafkaWrapper.KafkaNewAPI` for details, the class is not implemented, but feel free to add the implementation).

[2016-03-23 19:01] sahilTakiar commented on #778
Can this be closed?

[2016-03-23 19:08] kadaan commented on #778
Yes

Sent from my iPhone

[2016-03-23 19:28] #778 closed

[2016-03-23 19:55] zliu41 commented on #870
There are some backward incompatible changes in kafka 0.9 (in particular the test.jar) which requires `gobblin.metrics.reporter.KafkaTestBase` (if not others) to be rewritten.

[2016-03-24 18:19] zliu41 commented on #857
@sahilTakiar so the vast majority of use cases shouldn't need to have two runs at the same time. So how about making the task staging directory path configurable with two options: using job id and using job name, the latter of which will ensure different runs have the same staging directory.

[2016-03-24 18:57] kadaan commented on #857
Do we need a new setting or can this be determine if job lock is enabled?

[2016-03-25 01:24] zliu41 opened #881 "State management after running workunits"
Suppose the sizes of the job state and each task state is 0.9M and 0.1M respectively, and there are 1000 tasks.

There are two issues that cause high memory usage:
1. When a task runs, it merges the job state with the properties in the workunit (e.g., in MR mode, this is done in `MRJobLauncher.TaskRunner.map()`. So each task state is 1M. When tasks complete, `TaskStateCollectorService` collects al

[2016-03-25 01:48] zliu41 commented on #857
@kadaan I think we do. For example when running in Azkaban the job lock is not needed and is thus often disabled, but one may still want to use job name instead of job id.

[2016-03-25 03:10] sahilTakiar commented on #857
@zliu41 can't we just use the state from the previous execution to determine the job_id of the last run? then we can use the previous job_id to determine what files to delete. we already load the state of the previous execution through a state-store call.

[2016-03-25 03:13] zliu41 commented on #857
@sahilTakiar if previous run failed, the state was most likely not persisted.

[2016-03-25 03:34] sahilTakiar commented on #857
In that case, I think a better solution would as follows:

* Before a job runs, Gobblin should create an entry in the state-store saying the current jobId is in a running state
* When the job ends it can update it as it usually would
* This way, even if the job fails while writing the data, the next run will still know the jobId of the previous run, and it can do any cleanup necessary

This soluti

[2016-03-25 03:54] sahilTakiar opened #882 "Remove current.jst from FsStateStore, add state-store retention to driver"
- The `FsStateStore` creates and updates a `current.jst` to track the most recent version of the job state
- The problem is that for AWS users, the state-store typically has be put on S3
- The problem is that for overwriting data, S3 only provides eventual consistency
- This can cause problems as Gobblin jobs will see an old version of the state-store

A simple solution to this problem would be to

[2016-03-25 03:55] sahilTakiar commented on #882
@zliu41 I believe we discussed this briefly while working on #741, any comments on the above approach?

[2016-03-25 15:35] zliu41 commented on #882
LGTM except that if a job has multiple datasets there will be multiple `current.jst`s so you'll need to find the most recent one for each dataset urn.

[2016-03-25 16:54] sahilTakiar opened #883 "DataWriter should specify the default DataPublisher"
The `DataWriter` should be able to control what the default `DataPublisher` is, we should add a `getDefaultDataPublisher` method to `DataWriter`. This makes more sense than the current approach, as the `DataWriter` should always know what a reasonable default `DataPublisher` would be. There can still be the option to include `data.publisher.type` to override the default value.

Since we can't add

[2016-03-28 16:04] sahilTakiar commented on #844
@krtiwari1981 I am closing this ticket, please re-open if there are any follow up items. I updated the `gobblin-docs` to include documentation of this property.

[2016-03-28 16:04] #844 closed

[2016-03-28 16:05] sahilTakiar commented on #823
@asrayousuf did you ever figure out what the problem was here?

[2016-03-28 16:06] sahilTakiar commented on #810
@madhukotagiri did you get this working?

[2016-03-28 16:07] sahilTakiar commented on #804
@krtiwari1981 did the `ORCWriter` end up working for you?

[2016-03-28 16:07] #800 closed

[2016-03-28 16:07] #787 closed

[2016-03-28 16:17] sahilTakiar commented on #510
@x10ba you need to make sure `JAVA_HOME` is set properly.

[2016-03-28 16:17] #510 closed

[2016-03-28 16:37] #845 closed

[2016-03-28 17:32] krtiwari1981 commented on #804
No, I gave up.

[2016-03-28 23:03] lakshmanantokbox commented on #678
I am also running into this same issue.
Can you give an example on how to do this as part of mysql connection string.
Right now the example is
job.history.store.url=jdbc:mysql://localhost/gobblin

[2016-03-28 23:21] lakshmanantokbox commented on #678
I think this works.
job.history.store.url=jdbc:mysql://localhost/gobblin?useLegacyDatetimeCode=false

[2016-03-28 23:40] kadaan commented on #678
Thanks, I noticed this as well and it is part of my change to improve JobHistoryStore performance.

[2016-03-29 13:12] asrayousuf commented on #823
The problem is along the lines that @zliu41 pointed out. The refresh interval of my kafka is 1 sec so fetching the data for the earliest offset is failing for some partitions as the offset no longer exists when the fetch happens. I haven't yet found a solution to the scenario when I have to run it from the earliest offset.

[2016-03-29 14:47] kadaan opened #891 "Gradle build fails to publish due to GRADLE-2492"
When running the gradle build and trying to publish to the local maven repository it randomly fails due to the underlying code not being thread safe.  This is detailed in the following [discussion](https://discuss.gradle.org/t/gradle-v2-2-gradle-install-and-gradle-uploadarchive-dont-work-when-parallel-build-option-is-activated/1975/2) and [issue](https://issues.gradle.org/browse/GRADLE-2492).  The

[2016-03-30 07:34] lamborryan opened #899 "getLatestWatermarkFromMetadata and retry"
when I read gobblin-core code， i have some doubts about LatestWatermark and retry Policy.

Retry Policy supports failed workunits of previous job retry by add these workunits to new job's WorkUnits in QueryBasedSource.getWorkUnits(). However,  QueryBasedSource.getLatestWatermarkFromMetadata will  get lowest water mark of  previous workunits  if commitPolicy = JobCommitPolicy.COMMIT_ON_FULL_SUCCESS

[2016-03-30 16:30] jesusvillagra opened #900 "2 Docker ---Hadoop and gobblin"
I want to create 2 Docker containers. One with Hadood 2.7.2 and the other one with the last Gobblin realise. But I need to Launch the job to run on Hadoop "$HADOOP_BIN_DIR/hadoop jar \" from the gobblin container. And I always recived the same message, " this isn't a file or directory". I dont Know the way to launch a command throught the containers.

[2016-03-30 21:46] kadaan opened #901 "gradle dependencyInsight fails"
The following cannot be run `../gradlew dependencyInsight --dependency log4j --configuration compile` due to these errors:
### 1

[code]
### 2

[code]

[2016-03-31 02:52] sahilTakiar commented on #900
I don't have much experience with Docker, maybe other Gobblin users have more experience. But it would be helpful if you attached your Dockerfiles to this Issue.

[2016-03-31 07:15] jesusvillagra commented on #900
My instance of Goblin is isolated from Hadoop instance and I can not get access to Hadoop container files primary. Instead this I need to use volumes. Example:

docker run -v $HADOOP_BIN_DIR/hadoop.jar --name hadoop Hadoop
docker run --volumes-from hadoop Goblin

More information about volumes here https://docs.docker.com/engine/userguide/containers/dockervolumes/

Thanks !!!!!!!!!!!!!!!!

[2016-03-31 07:15] #900 closed

[2016-04-01 11:42] jesusvillagra opened #905 "4 Docker ---Hadoop and Kafka and Zookeeper and gobblin"
I have installed hadoop in a Docker container, zookeeper in a Docker container, Kafka in another a Docker container, and gobblin in another a Docker container, because i want to record Kafka topics in hadoop, I've got connect gobblin with hadoop, but when i launch the mapreduce process to read kafka topics and write these in hadoop, I can´t. Kafka with zookeeper run ok. Gobblin with hadoop run ok,

[2016-04-04 22:54] ibuenros opened #911 "job.state accessed by all mappers, under-replicated"
Gobblin stored job state in the file job.state, which is then read by every mapper. If there are thousands of mappers, this can DDOS the namenode / data nodes holding the file.
We should add job.state to distributed cache instead.

[2016-04-06 22:05] ibuenros opened #916 "Metrics hard to enable when run as standalone mode"
When Gobblin is launched as standalone, `SchedulerDaemon` starts all Gobblin services (including Gobblin metrics) using the system and custom configurations, but not the job configurations. Usually, users will specify their metrics config in the job configuration, but this means that for standalone, those configurations will be skipped.
Users must specify metrics configurations using the `--conffi

[2016-04-08 18:33] rohitgarg opened #918 "Map-reduce job running successfully on EMR but no output in s3"
I am running gobblin to move data from kafka to s3 using 3 node EMR cluster. I am running on hadoop 2.6.0 and I also built gobblin against 2.6.0.

It seems like map-reduce job runs successfully. On my hdfs i see metrics and working directory. metrics has some files but working directory is empty. S3 bucket should have had final output but has no data.  And at the end it says

Output task state pat

[2016-04-12 02:58] kadaan commented on #882
I've started working on this.

[2016-04-13 03:56] kadaan opened #925 "Gobblin Yarn doesn't clean up Helix IdealStates"
After running gobblin on yarn for 24 hours I noticed that the IdealStates in Zookeeper are not getting cleaned up.  I've seen the number steadily increase to 504 instance, with no signs of stopping.  This seems like a major blocker for gobblin on yarn and could unintentionally result in a issue for other services which rely on zookeeper.